---
import Link from "../../general/Link.astro"
import Signature from "../../general/Signature.astro"
import TTHeading from "../../general/TTHeading.astro"
---

<!-- Begin split box content 
============================= 
* Use class "shifted-left" or "shifted-right" to enable shifted content (do not use for long content).
-->
<div class="split-box-content sb-content-right">
    <TTHeading title="Martin Vegas" subtitle="Artist & Photographer" />

    <div class="margin-top-30">
        <p>
            I am an artist and photographer. Sollicitudin diam vitae, amet lacus donec eu, donec vulputate duis nullam nulla, suscipit nulla orci, ornare
            maecenas eget gravida. Curae sollicitudin lobortis phasellus. Fusce sapien, metus mi et libero enim sed lorem.
        </p>
    </div>

    <Link href="contact.html" css_class="btn btn-primary margin-top-20">Hire Me!</Link>
    <Link href="categories-grid.html" css_lass="btn btn-dark margin-top-20">View All My Work</Link>

    <Signature />
</div>
<!-- End split box content -->
