---
const { css_class } = Astro.props
---

<!-- Element cover 
===================
* You can use prepared background transparent classes depends on brightness of your page header image. More info: file "helper.css".
-->
<div class:list={["cover", css_class]}></div>
