---
const img_dark = "/assets/img/signature-dark.png"
const img_light = "/assets/img/signature-light.png"
---

<!-- Begin signature -->
<div class="signature">
    <img class="signature-dark" src={img_dark} alt="" />
    <img class="signature-light" src={img_light} alt="" />
</div>
<!-- End signature -->
