---
import HR from "./HR.astro";

const { title, subtitle, padding, alignment, size, css_class } =
  Astro.props;
---

<!-- Begin tt-heading 
====================== 
* Use class "padding-on" to enable heading paddings (useful if you use tt-heading as stand alone element).
* Use class "text-center" or "text-right" to align tt-heading.
* Use classes "tt-heading-xs", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set tt-heading size.
-->
<div
  class:list={[
    "tt-heading",
    { "padding-on": padding },
    `tt-heading-${size}`,
    `text-${alignment}`,
    css_class,
  ]}
>
    <div class="row">
      <div class="col-md-4">        
        <h1 class="tt-heading-title">{title}</h1>
        <div class="tt-heading-subtitle">{subtitle}</div>
        <HR size="short" />
      </div> <!-- /.col -->

      <div class="col-md-8">
        <slot />
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  <!-- /.tt-heading-inner -->
</div>
<!-- End tt-heading -->
