---
import BaseLayout from "../layouts/BaseLayout.astro"
import SectionPageHeader from "../sections/SectionPageHeader.astro"
import SectionAboutMe from "../sections/SectionAboutMe.astro"
import SectionLatestWork from "../sections/SectionLatestWork.astro"
import HR from "../components/general/HR.astro"
import PageHeaderImage from "../sections/SectionPageHeader/PageHeaderImage.astro"
import PageHeaderInner from "../sections/SectionPageHeader/PageHeaderInner.astro"
import PageHeaderCaption from "../sections/SectionPageHeader/PageHeaderInner/PageHeaderCaption.astro"

const title = "Welcome to Sander Datema"
---

<BaseLayout title={title}>
    <SectionPageHeader>
        <PageHeaderImage parallax_style="3" background_image="/assets/img/misc/page-header-bg-1.jpg" cover_style="5" cover_type="dark" />

        <PageHeaderInner>
            <PageHeaderCaption size="lg" parallax="3" fade_out="4">
                <h1 class="page-header-title">Martin Vegas</h1>
                <HR size="short" />

                <!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
                <div class="page-header-description" data-max-words="40">Artist &amp; Photographer</div>
            </PageHeaderCaption>
        </PageHeaderInner>
    </SectionPageHeader>

    <SectionAboutMe wrap />

    <SectionLatestWork />
</BaseLayout>
