---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- =================================
///// Begin gallery list section /////
================================== -->
<section id="gallery-list-section" class="gallery-list-carousel glc-no-crop">

	<!-- Begin page background (usually the same as gallery featured image) -->
	<div class="page-background bg-image" style="background-image: url(/assets/img/misc/page-bg-1.jpg);"></div>
	<!-- End page background -->

	<div class="gallery-list-carousel-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
		<div class="gl-carousel-wrap">

			<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
			====================================================================
			* Use class "nav-outside" for outside nav (requires boxed layout).
			* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
			* Use class "nav-bottom-right" for bottom right nav.
			* Use class "nav-rounded" for rounded nav.
			* Use class "nav-light" to enable nav light style.
			* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
			* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
			* Use class "dots-rounded" for rounded dots.
			* Use class "owl-mousewheel" to enable mousewheel support.
			* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
			* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
			* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
			* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
			================================================================
			* Available carousel data attributes:
					data-items="5".......................(items visible on desktop)
					data-tablet-landscape="4"............(items visible on mobiles)
					data-tablet-portrait="3".............(items visible on mobiles)
					data-mobile-landscape="2"............(items visible on tablets)
					data-mobile-portrait="1".............(items visible on tablets)
					data-loop="true".....................(true/false)
					data-margin="10".....................(space between items)
					data-center="true"...................(true/false)
					data-start-position="0"..............(item start position)
					data-animate-in="fadeIn".............(fade-in animation)
					data-animate-out="fadeOut"...........(fade-out animation)
					data-mouse-drag="false"..............(true/false)
					data-touch-drag="false"..............(true/false)
					data-autoheight="true"...............(true/false)
					data-autoplay="true".................(true/false)
					data-autoplay-timeout="5000".........(milliseconds)
					data-autoplay-hover-pause="true".....(true/false)
					data-autoplay-speed="800"............(milliseconds)
					data-drag-end-speed="800"............(milliseconds)
					data-nav="true"......................(true/false)
					data-nav-speed="800".................(milliseconds)
					data-dots="false"....................(true/false)
					data-dots-speed="800"................(milliseconds)
			-->
			<div class="owl-carousel cc-height-full owl-mousewheel nav-light cc-hover-zoom" data-items="4" data-margin="60" data-dots="false" data-nav="true" data-nav-speed="800" data-autowidth="true" data-tablet-landscape="3" data-tablet-portrait="3" data-mobile-landscape="2" data-mobile-portrait="1">

			<!-- Begin carousel item 
			========================= -->
			<a href="gallery-single-carousel-2.html" class="cc-item">

				<!-- cc auto width img -->
				<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-1.jpg" alt="img">

				<!-- cc auto width img for small devices -->
				<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-1.jpg);"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-lg bottom-left max-width-400"> <!-- max width class is optional -->
					<div class="cc-category"><span>Events</span></div>
					<h2 class="cc-title">Wedding Day</h2>
					
					<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
					<div class="cc-description">
						Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat.
					</div>

				</div>
				<!-- End caption -->

			</a>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<a href="gallery-single-carousel-2.html" class="cc-item">

				<!-- cc auto width img -->
				<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-2.jpg" alt="img">

				<!-- cc auto width img for small devices -->
				<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-2.jpg);"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-lg bottom-left max-width-400"> <!-- max width class is optional -->
					<div class="cc-category"><span>Models</span></div>
					<h2 class="cc-title">Three Mysterious Woman</h2>
					
					<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
					<div class="cc-description">
						Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat.
					</div>

				</div>
				<!-- End caption -->

			</a>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<a href="gallery-single-carousel-2.html" class="cc-item">

				<!-- cc auto width img -->
				<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-3.jpg" alt="img">

				<!-- cc auto width img for small devices -->
				<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-3.jpg);"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-lg bottom-left max-width-400">
					<div class="cc-category"><span>People</span></div>
					<h2 class="cc-title">One Day Shoot With Ordinary People</h2>
					
					<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
					<div class="cc-description">
						Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat.
					</div>

				</div>
				<!-- End caption -->

			</a>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<a href="gallery-single-carousel-2.html" class="cc-item">

				<!-- cc auto width img -->
				<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-4.jpg" alt="img">

				<!-- cc auto width img for small devices -->
				<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-4.jpg);"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-lg bottom-left max-width-400"> <!-- max width class is optional -->
					<div class="cc-category"><span>People</span></div>
					<h2 class="cc-title">Little Girl &amp; Book</h2>
					
					<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
					<div class="cc-description">
						Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat.
					</div>

				</div>
				<!-- End caption -->

			</a>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<a href="gallery-single-carousel-2.html" class="cc-item">

				<!-- cc auto width img -->
				<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-5.jpg" alt="img">

				<!-- cc auto width img for small devices -->
				<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-5.jpg);"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-lg bottom-left max-width-400"> <!-- max width class is optional -->
					<div class="cc-category"><span>Art</span></div>
					<h2 class="cc-title">Happy Moments With You</h2>
					
					<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
					<div class="cc-description">
						Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat.
					</div>

				</div>
				<!-- End caption -->

			</a>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<a href="gallery-single-carousel-2.html" class="cc-item">

				<!-- cc auto width img -->
				<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-6.jpg" alt="img">

				<!-- cc auto width img for small devices -->
				<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-6.jpg);"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-lg bottom-left max-width-400"> <!-- max width class is optional -->
					<div class="cc-category"><span>People</span></div>
					<h2 class="cc-title">Two Sleeping Woman</h2>
					
					<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
					<div class="cc-description">
						Sed at placerat odio, duis leo dui, porta in rutrum sit amet consequat.
					</div>

				</div>
				<!-- End caption -->

			</a>
			<!-- End carousel item -->

		</div>
		<!-- End content carousel -->

		</div> <!-- /.gl-carousel-wrap -->
	</div> <!-- /.gallery-list-carousel-inner -->
</section>
<!-- End gallery list section -->
</BaseLayout>