---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ============================================================
///// Begin blog list carousel section (featured slideshow) /////
============================================================= -->
<section id="blog-list-carousel-section" class="blc-featured-slideshow">
	<div class="bl-carousel-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

		<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
		====================================================================
		* Use class "nav-outside" for outside nav (requires boxed layout).
		* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
		* Use class "nav-bottom-right" for bottom right nav.
		* Use class "nav-rounded" for rounded nav.
		* Use class "nav-light" to enable nav light style.
		* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
		* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
		* Use class "dots-rounded" for rounded dots.
		* Use class "owl-mousewheel" to enable mousewheel support.
		* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
		* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
		* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
		* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
		================================================================
		* Available carousel data attributes:
				data-items="5".......................(items visible on desktop)
				data-tablet-landscape="4"............(items visible on mobiles)
				data-tablet-portrait="3".............(items visible on mobiles)
				data-mobile-landscape="2"............(items visible on tablets)
				data-mobile-portrait="1".............(items visible on tablets)
				data-loop="true".....................(true/false)
				data-margin="10".....................(space between items)
				data-center="true"...................(true/false)
				data-start-position="0"..............(item start position)
				data-animate-in="fadeIn".............(fade-in animation)
				data-animate-out="fadeOut"...........(fade-out animation)
				data-mouse-drag="false"..............(true/false)
				data-touch-drag="false"..............(true/false)
				data-autoheight="true"...............(true/false)
				data-autoplay="true".................(true/false)
				data-autoplay-timeout="5000".........(milliseconds)
				data-autoplay-hover-pause="true".....(true/false)
				data-autoplay-speed="800"............(milliseconds)
				data-drag-end-speed="800"............(milliseconds)
				data-nav="true"......................(true/false)
				data-nav-speed="800".................(milliseconds)
				data-dots="false"....................(true/false)
				data-dots-speed="800"................(milliseconds)
		-->
		<div class="owl-carousel cc-height-3 cc-height-m cursor-grab nav-bottom-right" data-items="1" data-loop="true" data-nav="true" data-dots="false" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-hover-pause="true" data-animate-in="fadeIn" data-animate-out="fadeOut">

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-4-dark"></span>

				<!-- cc image -->
				<div class="cc-image bg-image" style="background-image: url(/assets/img/blog/list/featured-carousel/blog-fc-1.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000"> <!-- max width class is optional -->
					<div class="cc-category">
						<a href="blog-archive.html">Featured</a> <a href="blog-archive.html">Photography</a>
					</div>
					<h2 class="cc-title">
						<a href="blog-single.html">The Best New Photo Products &amp; Gadgets In This Year</a>
					</h2>
					<div class="cc-meta"> 
						<span class="published">May 26, 2017</span>
						<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
					</div>
					<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
				</div>
				<!-- End caption -->

				<!-- Begin carousel item attributes -->
				<ul class="cc-item-attr attr-animated">
					<li>
						<!-- Begin comments count -->
						<a href="blog-single.html#blog-post-comments" class="cc-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 12</a>
						<!-- End comments count -->
					</li>
					<li>
						<!-- Begin favorite button -->
						<div class="favorite-btn active">
							<div class="fav-inner">
								<div class="icon-heart">
									<span class="icon-heart-empty"></span>
									<span class="icon-heart-filled"></span>
								</div>
							</div>
							<div class="fav-count">47</div>
						</div>
						<!-- End favorite button -->
					</li>
				</ul>
				<!-- End carousel item attributes -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-4-dark"></span>

				<!-- cc image -->
				<div class="cc-image bg-image" style="background-image: url(/assets/img/blog/list/featured-carousel/blog-fc-1.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000"> <!-- max width class is optional -->
					<div class="cc-category">
						<a href="blog-archive.html">Featured</a> <a href="blog-archive.html">Photography</a>
					</div>
					<h2 class="cc-title">
						<a href="blog-single.html">How To Use A Styled Photo Shoot To Build Your Portfolio</a>
					</h2>
					<div class="cc-meta"> 
						<span class="published">May 26, 2017</span>
						<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
					</div>
					<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
				</div>
				<!-- End caption -->

				<!-- Begin carousel item attributes -->
				<ul class="cc-item-attr attr-animated">
					<li>
						<!-- Begin comments count -->
						<a href="blog-single.html#blog-post-comments" class="cc-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 32</a>
						<!-- End comments count -->
					</li>
					<li>
						<!-- Begin favorite button -->
						<div class="favorite-btn">
							<div class="fav-inner">
								<div class="icon-heart">
									<span class="icon-heart-empty"></span>
									<span class="icon-heart-filled"></span>
								</div>
							</div>
							<div class="fav-count">61</div>
						</div>
						<!-- End favorite button -->
					</li>
				</ul>
				<!-- End carousel item attributes -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-4-dark"></span>

				<!-- cc image -->
				<div class="cc-image bg-image" style="background-image: url(/assets/img/blog/list/featured-carousel/blog-fc-1.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000"> <!-- max width class is optional -->
					<div class="cc-category">
						<a href="blog-archive.html">Featured</a> <a href="blog-archive.html">Photography</a>
					</div>
					<h2 class="cc-title">
						<a href="blog-single.html">Test Your Photography Knowledge</a>
					</h2>
					<div class="cc-meta"> 
						<span class="published">May 26, 2017</span>
						<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
					</div>
					<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
				</div>
				<!-- End caption -->

				<!-- Begin carousel item attributes -->
				<ul class="cc-item-attr attr-animated">
					<li>
						<!-- Begin comments count -->
						<a href="blog-single.html#blog-post-comments" class="cc-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 5</a>
						<!-- End comments count -->
					</li>
					<li>
						<!-- Begin favorite button -->
						<div class="favorite-btn active">
							<div class="fav-inner">
								<div class="icon-heart">
									<span class="icon-heart-empty"></span>
									<span class="icon-heart-filled"></span>
								</div>
							</div>
							<div class="fav-count">21</div>
						</div>
						<!-- End favorite button -->
					</li>
				</ul>
				<!-- End carousel item attributes -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-4-dark"></span>

				<!-- cc image -->
				<div class="cc-image bg-image" style="background-image: url(/assets/img/blog/list/featured-carousel/blog-fc-1.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-xlg bottom-left caption-animate max-width-1000"> <!-- max width class is optional -->
					<div class="cc-category">
						<a href="blog-archive.html">Featured</a> <a href="blog-archive.html">Photography</a>
					</div>
					<h2 class="cc-title">
						<a href="blog-single.html">More Couples Hiring Pro Photographers</a>
					</h2>
					<div class="cc-meta"> 
						<span class="published">May 26, 2017</span>
						<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
					</div>
					<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-20">Read More!</a>
				</div>
				<!-- End caption -->

				<!-- Begin carousel item attributes -->
				<ul class="cc-item-attr attr-animated">
					<li>
						<!-- Begin comments count -->
						<a href="blog-single.html#blog-post-comments" class="cc-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 9</a>
						<!-- End comments count -->
					</li>
					<li>
						<!-- Begin favorite button -->
						<div class="favorite-btn">
							<div class="fav-inner">
								<div class="icon-heart">
									<span class="icon-heart-empty"></span>
									<span class="icon-heart-filled"></span>
								</div>
							</div>
							<div class="fav-count">129</div>
						</div>
						<!-- End favorite button -->
					</li>
				</ul>
				<!-- End carousel item attributes -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<!-- <div class="cc-item">
				<span class="cover bg-transparent-4-dark"></span>
				<a class="owl-video" href="https://vimeo.com/99653121"></a>

				<div class="cc-caption cc-caption-xlg bottom-left caption-animate">
					<div class="cc-category">
						<a href="">Photography</a>
					</div>
					<h2 class="cc-title">
						<a href="blog-single.html">5 Tips Your Camera Manual Never Told You About Portrait Photography</a>
					</h2>
					<div class="cc-meta"> 
						<span class="published">May 26, 2017</span>
						<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
					</div>
				</div>

				<ul class="cc-item-attr attr-animated">
					<li>
						<a href="blog-single.html#blog-post-comments" class="cc-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 12</a>
					</li>
					<li>
						<div class="favorite-btn">
							<div class="fav-inner">
								<div class="icon-heart">
									<span class="icon-heart-empty"></span>
									<span class="icon-heart-filled"></span>
								</div>
							</div>
							<div class="fav-count">47</div>
						</div>
					</li>
				</ul>
			</div> -->
			<!-- End carousel item --> 

		</div>
		<!-- End content carousel -->

	</div> <!-- /.gl-carousel-wrap -->
</section>
<!-- End blog list carousel section -->


<!-- ==============================
///// Begin blog list section /////
=============================== -->
<section id="blog-list-section" class="blog-list-grid">
	<div class="blog-list-inner"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

		<div class="row no-margin">
		
			<!-- Content column -->
			<div class="col-md-12 no-padding-left no-padding-right">

				<div class="isotope-wrap">
					
					<!-- Begin isotope
					===================
					* Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
					* Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
					-->
					<div class="isotope col-4 gutter-3">

						<!-- Begin isotope items wrap 
						============================== -->
						<div class="isotope-items-wrap no-margin-top">

							<!-- Grid sizer (do not remove!!!) -->
							<div class="grid-sizer"></div>


							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>5 Reasons You Should Fall In Love With Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 10</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">48</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Equipment</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>10 Top Choices for Aerial Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">John Young</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 66</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">98</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Travel</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>How to Take Professional Travel Photos</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Anna Vernik</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 3</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">54</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>5 Tips Your Camera Manual Never Told You About Portrait Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Julia Beck</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 0</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">3</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>Most Common Wedding Photography Mistakes Every Beginner Will Make</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 8</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">71</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Food</a> <a href="#">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>The Serious Eats Guide to Food Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 28</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">65</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Fashion</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>How to Become a Fashion Photographer</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Jack Jackson</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 2</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">14</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Fashion</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>Best Lighting Tips For High Fashion Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="12">Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesen congue convallis artula ellis.</div>
										
										<a href="blog-single.html" class="bl-item-read-more" title="Read More"><span></span></a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 79</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">114</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

						</div>
						<!-- End isotope items wrap -->

					</div>
					<!-- End isotope -->

				</div> <!-- /.isotope-wrap -->

				<!-- Begin pagination -->
				<nav class="pagination-wrap">
					<ul class="pagination">
						<li>
							<a href="" aria-label="Previous">
								<span aria-hidden="true">First</span>
							</a>
						</li>
						<li><a href="">Prev</a></li>
						<li class="active"><a href="#0">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li>...</li>
						<li><a href="">6</a></li>
						<li><a href="">7</a></li>
						<li><a href="">8</a></li>
						<li><a href="">Next</a></li>
						<li>
							<a href="" aria-label="Next">
								<span aria-hidden="true">Last</span>
							</a>
						</li>
					</ul>

					<!-- Begin pagination info -->
					<div class="pagination-info">
						<span>Showing page 1 of 8</span>
						<span>Items 1 - 5 of 40</span>
					</div>
					<!-- End pagination info -->
				</nav>
				<!-- End pagination -->

			</div> <!-- /.col (Content column) -->

		</div> <!-- /.row -->

	</div> <!-- /.blog-list-inner -->
</section>
<!-- End blog list section -->
</BaseLayout>