---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ====================================================
///// Begin blog list carousel section (categories) /////
===================================================== -->
<section id="blog-list-carousel-section" class="blc-categories">
	<div class="bl-carousel-wrap padding-25 tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

		<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
		====================================================================
		* Use class "nav-outside" for outside nav (requires boxed layout).
		* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
		* Use class "nav-bottom-right" for bottom right nav.
		* Use class "nav-rounded" for rounded nav.
		* Use class "nav-light" to enable nav light style.
		* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
		* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
		* Use class "dots-rounded" for rounded dots.
		* Use class "owl-mousewheel" to enable mousewheel support.
		* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
		* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
		* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
		* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
		================================================================
		* Available carousel data attributes:
				data-items="5".......................(items visible on desktop)
				data-tablet-landscape="4"............(items visible on mobiles)
				data-tablet-portrait="3".............(items visible on mobiles)
				data-mobile-landscape="2"............(items visible on tablets)
				data-mobile-portrait="1".............(items visible on tablets)
				data-loop="true".....................(true/false)
				data-margin="10".....................(space between items)
				data-center="true"...................(true/false)
				data-start-position="0"..............(item start position)
				data-animate-in="fadeIn".............(fade-in animation)
				data-animate-out="fadeOut"...........(fade-out animation)
				data-mouse-drag="false"..............(true/false)
				data-touch-drag="false"..............(true/false)
				data-autoheight="true"...............(true/false)
				data-autoplay="true".................(true/false)
				data-autoplay-timeout="5000".........(milliseconds)
				data-autoplay-hover-pause="true".....(true/false)
				data-autoplay-speed="800"............(milliseconds)
				data-drag-end-speed="800"............(milliseconds)
				data-nav="true"......................(true/false)
				data-nav-speed="800".................(milliseconds)
				data-dots="false"....................(true/false)
				data-dots-speed="800"................(milliseconds)
		-->
		<div class="owl-carousel cursor-grab nav-outside dots-rounded dots-right" data-items="4" data-margin="25" data-loop="true" data-nav="true" data-nav-speed="400" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-speed="400" data-autoplay-hover-pause="true" data-tablet-landscape="3" data-tablet-portrait="2" data-mobile-landscape="1" data-mobile-portrait="1">

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-3-dark"></span>

				<!-- cc image -->
				<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/blog/list/categories-carousel/blog-cat-1.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-sm center">
					<h2 class="cc-title">
						<a href="blog-archive.html" title="View all entries in this category">Photography</a>
					</h2>
				</div>
				<!-- End caption -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-3-dark"></span>

				<!-- cc image -->
				<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/blog/list/categories-carousel/blog-cat-2.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-sm center">
					<h2 class="cc-title">
						<a href="blog-archive.html" title="View all entries in this category">Equipment</a>
					</h2>
				</div>
				<!-- End caption -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-3-dark"></span>

				<!-- cc image -->
				<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/blog/list/categories-carousel/blog-cat-3.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-sm center">
					<h2 class="cc-title">
						<a href="blog-archive.html" title="View all entries in this category">Travel</a>
					</h2>
				</div>
				<!-- End caption -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-3-dark"></span>

				<!-- cc image -->
				<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/blog/list/categories-carousel/blog-cat-4.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-sm center">
					<h2 class="cc-title">
						<a href="blog-archive.html" title="View all entries in this category">Fashion</a>
					</h2>
				</div>
				<!-- End caption -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-3-dark"></span>

				<!-- cc image -->
				<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/blog/list/categories-carousel/blog-cat-5.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-sm center">
					<h2 class="cc-title">
						<a href="blog-archive.html" title="View all entries in this category">Food</a>
					</h2>
				</div>
				<!-- End caption -->

			</div>
			<!-- End carousel item -->

			<!-- Begin carousel item 
			========================= -->
			<div class="cc-item">

				<!-- Element cover -->
				<span class="cover bg-transparent-3-dark"></span>

				<!-- cc image -->
				<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/blog/list/categories-carousel/blog-cat-6.jpg); background-position: 50% 50%;"></div>

				<!-- Begin caption 
				===================
				* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
				* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
				-->
				<div class="cc-caption cc-caption-sm center">
					<h2 class="cc-title">
						<a href="blog-archive.html" title="View all entries in this category">Macro</a>
					</h2>
				</div>
				<!-- End caption -->

			</div>
			<!-- End carousel item -->

		</div>
		<!-- End content carousel -->

	</div> <!-- /.gl-carousel-wrap -->
</section>
<!-- End blog list carousel section -->


<!-- ==============================
///// Begin blog list section /////
=============================== -->
<section id="blog-list-section" class="blog-list-classic">
	<div class="blog-list-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

		<div class="row no-margin">
		
			<!-- Content column -->
			<div class="col-md-8 no-padding-left no-padding-right">

				<div class="isotope-wrap">
					
					<!-- Begin isotope
					===================
					* Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
					* Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
					-->
					<div class="isotope col-1">

						<!-- Begin isotope items wrap 
						============================== -->
						<div class="isotope-items-wrap no-margin-top">

							<!-- Grid sizer (do not remove!!!) -->
							<div class="grid-sizer"></div>


							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>5 Reasons You Should Fall In Love With Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										<div class="bl-item-desc">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis...
										</div>
										<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 10</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">48</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-2.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Equipment</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>10 Top Choices for Aerial Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">John Young</a></span>
										</div>
										<div class="bl-item-desc">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis...
										</div>
										<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 66</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">98</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-3.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Travel</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>How to Take Professional Travel Photos</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Anna Vernik</a></span>
										</div>
										<div class="bl-item-desc">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis...
										</div>
										<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 3</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">54</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-4.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>5 Tips Your Camera Manual Never Told You About Portrait Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Julia Beck</a></span>
										</div>
										<div class="bl-item-desc">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis...
										</div>
										<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 0</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">3</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-5.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single.html" class="bl-item-title"><h2>Most Common Wedding Photography Mistakes Every Beginner Will Make</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										<div class="bl-item-desc">
											Suspendisse imperdiet ante at tortor consequat consectetur. Quisque rhoncus blandit justo praesent congue convallis...
										</div>
										<a href="blog-single.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 8</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">71</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

						</div>
						<!-- End isotope items wrap -->

					</div>
					<!-- End isotope -->

				</div> <!-- /.isotope-wrap -->

				<!-- Begin pagination -->
				<nav class="pagination-wrap">
					<ul class="pagination">
						<li>
							<a href="" aria-label="Previous">
								<span aria-hidden="true">First</span>
							</a>
						</li>
						<li><a href="">Prev</a></li>
						<li class="active"><a href="#0">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li>...</li>
						<li><a href="">6</a></li>
						<li><a href="">7</a></li>
						<li><a href="">8</a></li>
						<li><a href="">Next</a></li>
						<li>
							<a href="" aria-label="Next">
								<span aria-hidden="true">Last</span>
							</a>
						</li>
					</ul>

					<!-- Begin pagination info -->
					<div class="pagination-info">
						<span>Showing page 1 of 8</span>
						<span>Items 1 - 5 of 40</span>
					</div>
					<!-- End pagination info -->
				</nav>
				<!-- End pagination -->

			</div> <!-- /.col (Content column) -->

			<!-- Sidebar column -->
			<div class="col-md-4 no-padding-left no-padding-right">

				<!-- Begin sidebar (sidebar right) 
				=================================== -->
				<div class="sidebar sidebar-right">
					<div class="row">

						<div class="col-sm-12">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget blog-author no-margin-top">
								<h3 class="sidebar-heading">About Me</h3>
								<a href="about-me.html" class="blog-author-img bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-1.jpg); background-position: 50% 50%;"></a>
								<div class="blog-author-info">
						<h4 class="blog-author-name"><a href="about-me.html">Martin Vegas</a></h4>
									<div class="blog-author-sub">Artist &amp; Photographer</div>

									<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
									<p class="blog-author-text" data-max-words="15">Debitis sociis phasellus feugiat luctus diam. Vitae aenean odio ligula interdum suscipit antimoa arte lacus ante.</p>

						</div>
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-sm-12">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-social">
								<h3 class="sidebar-heading">Follow</h3>
								<!-- Begin social buttons -->
								<div class="social-buttons">
									<ul>
										<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-facebook" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-twitter" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
										<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-google" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-pinterest" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
										<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-dribbble" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
										<li><a href="https://instagram.com" class="btn btn-social-min btn-instagram" title="Follow me on instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
								<!-- End social buttons -->
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-sm-12">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-search">
								<h3 class="sidebar-heading">Search</h3>
								<form id="blog-search-form" class="form-btn-inside" method="get" action="search-results.html">
									<div class="form-group no-margin">
										<input type="text" class="form-control" id="blog-search" name="search" placeholder="Search...">
										<button type="submit"><i class="fas fa-search"></i></button>
									</div>
								</form>
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-categories">
								<h3 class="sidebar-heading">Categories</h3>
								<ul class="list-unstyled">
									<li><a href="">Photography <span>26</span></a></li>
									<li><a href="">Equipment <span>54</span></a></li>
									<li><a href="">Travel <span>17</span></a></li>
									<li><a href="">Fashion <span>19</span></a></li>
									<li><a href="">Food <span>67</span></a></li>
									<li><a href="">Macro <span>67</span></a></li>
								</ul>
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-post-list">
								<h3 class="sidebar-heading">Most Popular</h3>
								<ul class="list-unstyled">
									<li>
										<a href="" class="post-thumb bg-image" style="background-image: url(/assets/img/blog/small/img-13.jpg); background-position: 50% 50%;"></a>
										<div class="post-data">
											<h5 class="post-title"><a href="blog-single.html">10 Top Choices for Aerial Photography</a></h5>
											<!-- <span class="author">By: <a href="">Martin Vegas</a></span> -->
											<span class="date">May 26, 2017</span>
										</div>
									</li>
									<li>
										<a href="" class="post-thumb bg-image" style="background-image: url(/assets/img/blog/small/img-14.jpg); background-position: 50% 50%;"></a>
										<div class="post-data">
											<h5 class="post-title"><a href="blog-single.html">How to Take Professional Travel Photos</a></h5>
											<!-- <span class="author">By: <a href="">John Doe</a></span> -->
											<span class="date">May 12, 2017</span>
										</div>
									</li>
									<li>
										<a href="" class="post-thumb bg-image" style="background-image: url(/assets/img/blog/small/img-15.jpg); background-position: 50% 50%;"></a>
										<div class="post-data">
											<h5 class="post-title"><a href="blog-single.html">5 Tips Your Camera Manual Never Told You About Portrait Photography</a></h5>
											<!-- <span class="author">By: <a href="">Henry Harrison</a></span> -->
											<span class="date">April 17, 2017</span>
										</div>
									</li>
									<li>
										<a href="" class="post-thumb bg-image" style="background-image: url(/assets/img/blog/small/img-10.jpg); background-position: 50% 50%;"></a>
										<div class="post-data">
											<h5 class="post-title"><a href="blog-single.html">Most Common Wedding Photography Mistakes Every Beginner Will Make</a></h5>
											<!-- <span class="author">By: <a href="">Henry Harrison</a></span> -->
											<span class="date">March 21, 2017</span>
										</div>
									</li>
								</ul>
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-comments-list">
								<h3 class="sidebar-heading">Recent Comments</h3>
								<ul class="list-unstyled">
									<li class="sidebar-comment-wrap">
										<a href="blog-single-no-sidebar.html" class="sidebar-comment-avatar bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-1.jpg); background-position: 50% 50%;"></a>
										<div class="sidebar-comment-meta">
											<div class="sidebar-comment-data">
												<span class="author">By: <a href="">Martin Vegas</a></span>
												<span class="date">May 26, 2017</span>
											</div>
											<div class="sidebar-comment">
												<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
												<a href="blog-single-no-sidebar.html" data-max-words="15">Aliquet praesent tempor ac dolor aliquet. Risus mi vitae hendrerit orci vitae amet lacus tertis maurum entire satec tatus naite esek. Lacemus ante sider.</a>
											</div>
										</div>
									</li>

									<li class="sidebar-comment-wrap">
										<a href="blog-single-no-sidebar.html" class="sidebar-comment-avatar bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-3.jpg); background-position: 50% 50%;"></a>
										<div class="sidebar-comment-meta">
											<div class="sidebar-comment-data">
												<span class="author">By: <a href="">David Bradley</a></span>
												<span class="date">May 26, 2017</span>
											</div>
											<div class="sidebar-comment">
												<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
												<a href="blog-single-no-sidebar.html" data-max-words="15">Laculis molestie rhoncus. Amet maecenas ut orci id dui. Et dui morbi. Non mauris nautis trettis sitamo egret laites mannis seti faktasi norem.</a>
											</div>
										</div>
									</li>

									<li class="sidebar-comment-wrap">
										<a href="blog-single-no-sidebar.html" class="sidebar-comment-avatar bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-2.jpg); background-position: 50% 50%;"></a>
										<div class="sidebar-comment-meta">
											<div class="sidebar-comment-data">
												<span class="author">By: <a href="">Kate Dixon</a></span>
												<span class="date">May 26, 2017</span>
											</div>
											<div class="sidebar-comment">
												<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
												<a href="blog-single-no-sidebar.html" data-max-words="15">Feugiat fringilla sequi. Anunc adipiscing nisl lorem morbi tincidunt gravida vistrim nocktac fitset muita opimus necta vimavus canipantri levit naidum unimus.</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-tags">
								<h3 class="sidebar-heading">Popular Tags</h3>
								<ul>
									<li><a href="">#portfolio</a></li>
									<li><a href="">#multipurpose</a></li>
									<li><a href="">#minimal</a></li>
									<li><a href="">#agency</a></li>
									<li><a href="">#creatives</a></li>
									<li><a href="">#freelancers</a></li>
									<li><a href="">#design</a></li>
									<li><a href="">#bootstrap</a></li>
									<li><a href="">#responsive</a></li>
									<li><a href="">#simple</a></li>
									<li><a href="">#creative</a></li>
									<li><a href="">#retina</a></li>
									<li><a href="">#blog</a></li>
									<li><a href="">#wordpress</a></li>
									<li><a href="">#black &amp; white</a></li>
								</ul>
							</div>
							<!-- End sidebar widget -->
						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-photo-stream">
								<h3 class="sidebar-heading"><i class="fab fa-instagram"></i> Instagram</h3>

								<!-- Begin thumbnail list 
								==========================
								* Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
								* Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
								-->
								<ul class="thumb-list col-4 gutter-5">
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-1.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-2.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-3.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-4.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-5.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-6.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-7.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-8.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-9.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-10.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-11.jpg);"></a></li>
									<li><a href="#" class="thumb-list-item bg-image" style="background-image: url(/assets/img/blog/small/img-12.jpg);"></a></li>

								</ul>
								<!-- End thumbnail list -->

							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-subscribe">
								<h3 class="sidebar-heading">Subscribe</h3>
								<p class="small text-gray">Subscribe to our newsletter and stay updated on the latest news! Do not worry, we will not send spam.</p>

								<!-- Begin subscribe form -->
								<form id="sidebar-subscribe-form">
									<div class="form-group no-margin">
										<input type="email" class="form-control" id="sidebar-subscribe" name="subscribe" placeholder="Enter your email address..." required="">
										<button type="submit" class="btn btn-primary btn-block btn-lg">Subscribe</button>
									</div>
								</form>
								<!-- End subscribe form -->

							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

						<div class="col-md-12 col-sm-6">

							<!-- Begin sidebar widget -->
							<div class="sidebar-widget sidebar-meta">
								<h3 class="sidebar-heading">Meta</h3>
								<ul class="list-unstyled">
									<li><a href="">Log In</a></li>
									<li><a href="">Entries RSS</a></li>
									<li><a href="">Comments RSS</a></li>
									<li><a href="https://wordpress.org/">WordPress.org</a></li>
								</ul>
							</div>
							<!-- End sidebar widget -->

						</div> <!-- /.col -->

					</div> <!-- /.row -->
				</div>
				<!-- End sidebar -->

			</div> <!-- /.col (Sidebar column) -->

		</div> <!-- /.row -->

	</div> <!-- /.blog-list-inner -->
</section>
<!-- End blog list section -->
</BaseLayout>