---
import TTHeading from "../components/general/TTHeading.astro"
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ========================
///// Begin page header /////
=============================
* Use classes "ph-xs", "ph-sm", "ph-lg" or "ph-xlg" to set page header size.
* Use class "ph-center" or "ph-right" to align page header caption.
-->
<section id="page-header" class="ph-xlg">

	<!-- Begin page header image 
	============================= 
	* Use class "parallax-bg-1" up to "parallax-bg-6" to enable background image parallax effect.
	* Use class "fade-out-scroll-3" to enable fade out effect if page scroll.
	* Use class "hide-ph-image" to hide page header image without removing the code.
	-->
	<div class="page-header-image parallax-bg-3 bg-image" style="background-image: url(/assets/img/misc/page-header-bg-10.jpg);">

		<!-- Element cover 
		===================
		* You can use prepared background transparent classes depends on brightness of your page header image. More info: file "helper.css".
		-->
		<div class="cover bg-transparent-5-dark"></div>

	</div>
	<!-- End page header image -->

	<!-- Begin page header inner -->
	<div class="page-header-inner tt-wrap">

		<!-- Begin page header caption 
		===============================
		* Use classes "ph-caption-xs", "ph-caption-sm", "ph-caption-lg" or "ph-caption-xlg" to set page header size.
		* Use class "parallax-1" up to "parallax-6" to enable parallax effect.
		* Use class "fade-out-scroll-1" up to "fade-out-scroll-6" to enable fade out effect if page scroll.
		-->
		<div class="page-header-caption parallax-4 fade-out-scroll-4">
			<h1 class="page-header-title">The Coolest Photo Project I've Ever Created</h1>
			<div class="page-header-category"><a href="albums-archive-fluid-2.html">Outdoor</a></div>
									
			<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
			<div class="page-header-description" data-max-words="40">
				<p>Fusce imperdiet, arcu non tempor aliquam, justo tortor cursus est, sed facilisis eros purus et felis. Sed eros sapien, iaculis eget gravida euismod, dapibus vitae turpis. Pellentesque men egestas odio mi, vitae egestas massa elementum ut. Cras dolor dui consequat massi.</p>
			</div>
			
			<!-- Begin modal trigger -->
			<a href="#0" class="ph-more-info-trigger" data-toggle="modal" data-target="#modal-67230981"><span class="ph-more-info-trigger-icon"></span> Show More...</a>
			<!-- End modal trigger -->

			<!-- Begin modal 
			=================
			* Use class "modal-center" to enable modal center position (use for short content only!).
			* Use class "modal-left" to enable left sidebar modal.
			* Use class "modal-right" to enable right sidebar modal.
			-->
			<div id="modal-67230981" class="modal modal-left fade" tabindex="-1" role="dialog" aria-hidden="false">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="tt-close-btn"></i></button>
							<h4 class="modal-title">Info:</h4>
						</div> <!-- /.modal-header -->

						<div class="modal-body">

							<!-- Begin modal body image 
							============================
							* Use class "modal-body-image-1" or "modal-body-image-2" to set modal body image style.
							-->
							<div class="modal-body-image-1 bg-image" style="background-image: url(/assets/img/misc/page-header-bg-10.jpg); background-position: 50% 50%;"></div>
							<!-- End modal body image -->

							<!-- Begin modal body content -->
							<div class="modal-body-content">
								<TTHeading title="Who I am?" subtitle="A little bit about me" />
								<!-- Begin tt-heading 
								====================== 
								* Use class "padding-on" to enable heading paddings (useful if you use tt-heading as stand alone element).
								* Use class "text-center" or "text-right" to align tt-heading.
								* Use classes "tt-heading-xs", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set tt-heading size.
								-->
								<div class="tt-heading tt-heading-lg">
									<div class="tt-heading-inner">
										<h1 class="tt-heading-title">The Coolest Photo Project I've Ever Created</h1>
										<!-- <div class="tt-heading-subtitle">Subtitle Here</div> -->
										<!-- <HR size="short" /> -->
									</div> <!-- /.tt-heading-inner -->
								</div>
								<!-- End tt-heading -->

								<div class="margin-top-20">
									<p>Integer viverra arcu ac facilisis interdum. Proin dignissim sagittis tellus. Duis et pharetra est, vel ullamcorper libero. Fusce sed leo in dolor ornare fermentum. Sed facilisis eu justo at mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue malesuada eros, ut varius metus accumsan non. Pellentesque facilisis tortor risus, quis convallis nunc faucibus et. Proin egestas pulvinar sem, sit amet auctor ligula faucibus quis. Maecenas in libero nec turpis molestie dictum. Suspendisse id mi eget mi suscipit faucibus vitae eu metus.</p>

									<p>Integer accumsan iaculis pharetra. Curabitur ultricies ut justo at hendrerit. Sed quis condimentum dui. In ac nunc leo. Quisque erat sem, consequat at rutrum at, ultricies nec sapien. Sed hendrerit libero augue, sit amet ultricies urna tincidunt at. In hac habitasse platea dictumst. Vivamus et sem nec velit scelerisque molestie. Suspendisse tempus posuere venenatis.</p>
								</div>

								<a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" class="btn btn-primary" target="_blank">Buy this theme!</a>

								<!-- Begin social buttons share -->
								<div class="social-buttons margin-top-40">
									<ul>
										<li><strong>Share:</strong> </li>
										<li><a href="" class="btn btn-social-min btn-facebook btn-sm btn-rounded-full" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="" class="btn btn-social-min btn-twitter btn-sm btn-rounded-full" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
										<li><a href="" class="btn btn-social-min btn-google btn-sm btn-rounded-full" title="Share on Google+"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="" class="btn btn-social-min btn-pinterest btn-sm btn-rounded-full" title="Share on Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
									</ul>
								</div>
								<!-- End social buttons share -->

							</div>
							<!-- End modal body content -->

						</div> <!-- /.modal-body -->

						<div class="modal-footer">
							&copy; Sepia 2017 / All rights reserved
						</div> <!-- /.modal-footer -->

					</div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div>
			<!-- End modal -->

		</div>
		<!-- End page header caption -->

	</div>
	<!-- End page header inner -->

	<!-- Begin gallery single nav -->
	<div class="gallery-single-nav parallax-2 fade-out-scroll-4">
		<a href="" class="gsn-prew" title="Prew Project"><i class="fas fa-angle-left"></i></a>
		<a href="albums-grid-fluid-2.html" class="gsn-back" title="Back to albums"><i class="fas fa-th"></i></a>
		<a href="" class="gsn-next" title="Next Project"><i class="fas fa-angle-right"></i></a>
	</div>
	<!-- End gallery single nav -->

</section>
<!-- End page header -->


<!-- ===================================
///// Begin gallery single section /////
==================================== -->
<section id="gallery-single-section">
	<div class="isotope-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
		
		<!-- Begin isotope
		===================
		* Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
		* Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
		-->
		<div class="isotope col-4">

			<!-- Begin isotope top content -->
			<div class="isotope-top-content">

				<!-- Begin gallery share button 
				================================
				* Use class "gs-right" to align gallery share button.
				-->
				<a href="#0" class="gallery-share gs-right" data-toggle="modal" data-target="#modal-64253091" title="Share this gallery"><i class="fas fa-share-alt"></i></a>
				<!-- End gallery share button -->

				<!-- Begin modal 
				=================
				* Use class "modal-center" to enable modal center position (use for short content only!).
				* Use class "modal-left" to enable left sidebar modal.
				* Use class "modal-right" to enable right sidebar modal.
				-->
				<div id="modal-64253091" class="modal modal-center fade" tabindex="-1" role="dialog" aria-hidden="false">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="tt-close-btn"></i></button>
								<h4 class="modal-title">Share This Gallery:</h4>
							</div> <!-- /.modal-header -->

							<div class="modal-body">

								<!-- Begin modal body image 
								============================
								* Use class "modal-body-image-1" or "modal-body-image-2" to set modal body image style.
								-->
								<div class="modal-body-image-1 bg-image" style="background-image: url(/assets/img/misc/page-header-bg-10.jpg); background-position: 50% 50%;"></div>
								<!-- End modal body image -->

								<!-- Begin modal body content -->
								<div class="modal-body-content">

									<!-- Begin modal share -->
									<div class="modal-share">

										<!-- Begin social buttons -->
										<div class="social-buttons">
											<ul>
												<li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full" title="Share on facebook"><i class="fab fa-facebook-f"></i></a></li>
												<li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full" title="Share on twitter"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full" title="Share on google+"><i class="fab fa-google-plus-g"></i></a></li>
												<li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full" title="Share on pinterest"><i class="fab fa-pinterest-p"></i></a></li>
											</ul>
										</div>
										<!-- End social buttons -->

										<!-- modal share grab link -->
										<input class="grab-link" type="text" readonly="" value="https://yoursite.com/your-gallery-link/" onclick="this.select()">

									</div>
									<!-- End modal share -->

								</div>
								<!-- End modal body content -->

							</div> <!-- /.modal-body -->

							<div class="modal-footer">
								&copy; Sepia 2017 / All rights reserved
							</div> <!-- /.modal-footer -->

						</div> <!-- /.modal-content -->
					</div> <!-- /.modal-dialog -->
				</div>
				<!-- End modal -->

			</div>
			<!-- End isotope top content -->

			<!-- Begin isotope items wrap 
			==============================
			* Use classes "gsi-color", "gsi-zoom" or "gsi-simple" to change gallery single item cover variations.
			-->
			<div id="gallery" class="isotope-items-wrap lightgallery gsi-color">

				<!-- Grid sizer (do not remove!!!) -->
				<div class="grid-sizer"></div>


				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-1.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-1.jpg" data-sub-html="<p>Yes, you can use image captions :)</p>">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-1.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item image caption -->
						<div class="gsi-image-caption">Yes, you can use image captions :)</div>

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-2.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-2.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-2.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="https://www.youtube.com/watch?v=ls0ayO5FIro" class="gallery-single-item lg-trigger">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-3.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-play"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-4.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-4.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-4.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-5.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-5.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-5.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="https://vimeo.com/20047720" class="gallery-single-item lg-trigger">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-6.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-play"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-7.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-7.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-7.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-8.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-8.jpg" data-sub-html="<p>Another awesome image caption :)</p>">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-8.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item image caption -->
						<div class="gsi-image-caption">Another awesome image caption :)</div>

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-9.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-9.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-9.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-10.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-10.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-10.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-11.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-11.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-11.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-12.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-12.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-12.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-13.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-13.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-13.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-14.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-14.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-14.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-15.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-15.jpg" data-sub-html="<p>Yes, you can use a little longer image captions. Pellentesque men egestas odio mi, vitae egestas massa elementum utesa.</p>">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-15.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item image caption -->
						<div class="gsi-image-caption">You can use a little longer image captions. Pellentesque men egestas odio mi, vitae egestas massa elementum utesa.</div>

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-16.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-16.jpg">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-16.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item">

					<!-- Begin gallery single item -->
					<a href="/assets/img/gallery/gallery-single/grid/big/gallery-single-big-17.jpg" class="gallery-single-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/grid/thumb/gallery-single-thumb-17.jpg" data-sub-html="<p>Yes, you can use a little longer image captions. Pellentesque men egestas odio mi, vitae egestas massa elementum utesa.</p>">

						<!-- Begin gallery single item image -->
						<img src="/assets/img/gallery/gallery-single/grid/gallery-single-17.jpg" class="gs-item-image" alt="">
						<!-- End gallery single item image -->

						<!-- Gallery single item image caption -->
						<div class="gsi-image-caption">You can use a little longer image captions. Pellentesque men egestas odio mi, vitae egestas massa elementum utesa.</div>

						<!-- Gallery single item icon -->
						<div class="gs-item-icon"><i class="fas fa-search"></i></div>
						
					</a>
					<!-- End gallery single item -->

				</div>
				<!-- End isotope item -->

			</div>
			<!-- End isotope items wrap -->


			<!-- Begin isotope pagination 
			============================== -->
			<div class="isotope-pagination">
				<div class="iso-load-more">
					<a class="btn btn-dark-bordered btn-lg" href="">View More <i class="fas fa-refresh"></i></a>
				</div>
			</div>
			<!-- End isotope pagination -->

		</div>
		<!-- End isotope -->

	</div> <!-- /.isotope-wrap -->
</section>
<!-- End gallery single section -->


<!-- ==================================
///// Begin more projects cection /////
=================================== -->
<section id="more-projects-section">

	<TTHeading title="More Projects You Might Like" subtitle="Please see my other projects" wrap padding alignment="center" css_class="bg-gray-3" />

	<div class="more-projects-inner"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

		<!-- Begin project carousel 
		============================ -->
		<div class="project-carousel">

			<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
			====================================================================
			* Use class "nav-outside" for outside nav (requires boxed layout).
			* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
			* Use class "nav-bottom-right" for bottom right nav.
			* Use class "nav-rounded" for rounded nav.
			* Use class "nav-light" to enable nav light style.
			* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
			* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
			* Use class "dots-rounded" for rounded dots.
			* Use class "owl-mousewheel" to enable mousewheel support.
			* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
			* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
			* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
			* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
			================================================================
			* Available carousel data attributes:
					data-items="5".......................(items visible on desktop)
					data-tablet-landscape="4"............(items visible on mobiles)
					data-tablet-portrait="3".............(items visible on mobiles)
					data-mobile-landscape="2"............(items visible on tablets)
					data-mobile-portrait="1".............(items visible on tablets)
					data-loop="true".....................(true/false)
					data-margin="10".....................(space between items)
					data-center="true"...................(true/false)
					data-start-position="0"..............(item start position)
					data-animate-in="fadeIn".............(fade-in animation)
					data-animate-out="fadeOut"...........(fade-out animation)
					data-mouse-drag="false"..............(true/false)
					data-touch-drag="false"..............(true/false)
					data-autoheight="true"...............(true/false)
					data-autoplay="true".................(true/false)
					data-autoplay-timeout="5000".........(milliseconds)
					data-autoplay-hover-pause="true".....(true/false)
					data-autoplay-speed="800"............(milliseconds)
					data-drag-end-speed="800"............(milliseconds)
					data-nav="true"......................(true/false)
					data-nav-speed="800".................(milliseconds)
					data-dots="false"....................(true/false)
					data-dots-speed="800"................(milliseconds)
			-->
			<div class="owl-carousel cc-height-1 cc-hover-dark nav-outside-top" data-items="4" data-margin="0" data-dots="false" data-nav="true" data-nav-speed="800" data-mobile-portrait="1" data-tablet-landscape="3" data-tablet-portrait="2" data-mobile-landscape="1" data-mobile-portrait="1">

				<!-- Begin carousel item 
				========================= -->
				<a href="" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-7.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Afternoon Photoshoot</h2>
						<div class="cc-category"><span>Outdoor</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-8.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Black &amp; White</h2>
						<div class="cc-category"><span>Models</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-9.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400">
						<h2 class="cc-title">One Day Shoot With Ordinary People</h2>
						<div class="cc-category"><span>People</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-10.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Dancing Is Everything</h2>
						<div class="cc-category"><span>People</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-11.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Redhead Beauty</h2>
						<div class="cc-category"><span>Nature</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-12.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Beautiful People</h2>
						<div class="cc-category"><span>Nature</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

			</div>
			<!-- End content carousel -->

		</div>
		<!-- End project carousel -->

	</div> <!-- /.more-projects-inner -->
</section>
<!-- End more projects cection -->
</BaseLayout>