<!-- ===================================
///// Begin gallery single section /////
==================================== -->
<section id="gallery-single-section" class="gallery-single-carousel">

	<!-- Begin page background (usually the same as gallery featured image) -->
	<div class="page-background bg-image" style="background-image: url(/assets/img/misc/page-bg-1.jpg);"></div>
	<!-- End page background -->

	<div class="gallery-single-carousel-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
		<div class="gs-carousel-wrap">

			<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
			====================================================================
			* Use class "nav-outside" for outside nav (requires boxed layout).
			* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
			* Use class "nav-bottom-right" for bottom right nav.
			* Use class "nav-rounded" for rounded nav.
			* Use class "nav-light" to enable nav light style.
			* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
			* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
			* Use class "dots-rounded" for rounded dots.
			* Use class "owl-mousewheel" to enable mousewheel support.
			* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
			* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
			* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
			* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
			====================================================================
			* Available carousel data attributes:
					data-items="5".......................(items visible on desktop)
					data-tablet-landscape="4"............(items visible on mobiles)
					data-tablet-portrait="3".............(items visible on mobiles)
					data-mobile-landscape="2"............(items visible on tablets)
					data-mobile-portrait="1".............(items visible on tablets)
					data-loop="true".....................(true/false)
					data-margin="10".....................(space between items)
					data-center="true"...................(true/false)
					data-start-position="0"..............(item start position)
					data-animate-in="fadeIn".............(fade-in animation)
					data-animate-out="fadeOut"...........(fade-out animation)
					data-mouse-drag="false"..............(true/false)
					data-touch-drag="false"..............(true/false)
					data-autoheight="true"...............(true/false)
					data-autoplay="true".................(true/false)
					data-autoplay-timeout="5000".........(milliseconds)
					data-autoplay-hover-pause="true".....(true/false)
					data-autoplay-speed="800"............(milliseconds)
					data-drag-end-speed="800"............(milliseconds)
					data-nav="true"......................(true/false)
					data-nav-speed="800".................(milliseconds)
					data-dots="false"....................(true/false)
					data-dots-speed="800"................(milliseconds)
			-->
			<div class="owl-carousel lightgallery cc-height-full owl-mousewheel nav-light" data-items="3" data-margin="80" data-autowidth="true" data-nav="true" data-nav-speed="800" data-dots="false">

				<!-- Begin carousel item (gallery info)
				======================================== -->
				<div class="gs-carousel-info">
					<div class="gsc-info-inner">

						<!-- Begin tt-heading 
						====================== 
						* Use class "padding-on" to enable heading paddings (useful if you use tt-heading as stand alone element).
						* Use class "text-center" or "text-right" to align tt-heading.
						* Use classes "tt-heading-xs", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set tt-heading size.
						-->
						<div class="tt-heading">
							<div class="tt-heading-inner">
								<h1 class="tt-heading-title">The Coolest Photo Project I've Ever Created</h1>
								<!-- <div class="tt-heading-subtitle">Subtitle Here</div> -->
								<hr class="hr-short">
							</div> <!-- /.tt-heading-inner -->
						</div>
						<!-- End tt-heading -->

						<!-- Begin gallery single credits -->
						<div class="gallery-single-credits margin-top-40">
							<dl>
								<dt>Photo &amp; Edition</dt>
								<dd>
									<span>Peter Lorens</span>
								</dd>
							</dl>
							<dl>
								<dt>Model</dt>
								<dd>
									<span>Liselle Shmith</span>
								</dd>
							</dl>
							<dl>
								<dt>Makeup</dt>
								<dd>
									<span>Anna Vent</span>
								</dd>
							</dl>
							<dl>
								<dt>Category</dt>
								<dd>
									<span><a href="">Photography</a>, <a href="">Outdoor</a></span>
								</dd>
							</dl>
						</div>
						<!-- End gallery single credits -->

						<!-- Begin social buttons share -->
						<div class="social-buttons margin-top-40">
							<strong>Share:</strong>
							<ul>
								<li><a href="" class="btn btn-social-min btn-default btn-rounded-full" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="" class="btn btn-social-min btn-default btn-rounded-full" title="Share on Twitter"><i class="fab fa-twitter"></i></a></li>
								<li><a href="" class="btn btn-social-min btn-default btn-rounded-full btn-rounded-full" title="Share on Google+"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="" class="btn btn-social-min btn-default btn-rounded-full" title="Share on Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
								<li><a href="" class="btn btn-social-min btn-default btn-rounded-full" title="Share on Pinterest"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
						<!-- End social buttons share -->

						<!-- Begin gallery single nav -->
						<div class="gallery-single-nav parallax-2 fade-out-scroll-4">
							<a href="" class="gsn-prew" title="Prew Project"><i class="fas fa-angle-left"></i></a>
							<a href="albums-carousel-no-crop.html" class="gsn-back" title="Back to albums"><i class="fas fa-th"></i></a>
							<a href="" class="gsn-next" title="Next Project"><i class="fas fa-angle-right"></i></a>
						</div>
						<!-- End gallery single nav -->

						<!-- Begin gallery meta -->
						<ul class="gallery-meta">
							<li>
								<!-- Begin favorite button -->
								<div class="favorite-btn">
									<div class="fav-inner">
										<div class="icon-heart">
											<span class="icon-heart-empty"></span>
											<span class="icon-heart-filled"></span>
										</div>
									</div>
									<div class="fav-count">56</div>
								</div>
								<!-- End favorite button -->
							</li>
						</ul>
						<!-- End gallery meta -->

					</div> <!-- /.gsc-info-inner -->
				</div>
				<!-- End carousel item (gallery info) -->

				<!-- Begin carousel item 
				========================= -->
				<a href="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-1.jpg" class="cc-item gs-carousel-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/auto-width/thumb/gallery-auto-width-thumb-1.jpg" data-sub-html="<p>Yes, you can use image captions :)</p>">

					<!-- cc auto width img -->
					<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-1.jpg" alt="">

					<!-- cc auto width img for small devices -->
					<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-1.jpg);"></div>

					<!-- Gallery single item image caption -->
					<div class="gsi-image-caption">Yes, you can use image captions :)</div>

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-2.jpg" class="cc-item gs-carousel-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/auto-width/thumb/gallery-auto-width-thumb-2.jpg">

					<!-- cc auto width img -->
					<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-2.jpg" alt="">

					<!-- cc auto width img for small devices -->
					<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-2.jpg);"></div>

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-3.jpg" class="cc-item gs-carousel-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/auto-width/thumb/gallery-auto-width-thumb-3.jpg" data-sub-html="<p>You can use a little longer image captions as well. Pellentesque men egestas odio mi, vitae egestas massa elementum utesa.</p>">

					<!-- cc auto width img -->
					<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-3.jpg" alt="">

					<!-- cc auto width img for small devices -->
					<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-3.jpg);"></div>

					<!-- Gallery single item image caption -->
					<div class="gsi-image-caption">You can use a little longer image captions as well. Pellentesque men egestas odio mi, vitae egestas massa elementum utesa.</div>

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-4.jpg" class="cc-item gs-carousel-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/auto-width/thumb/gallery-auto-width-thumb-4.jpg">

					<!-- cc auto width img -->
					<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-4.jpg" alt="">

					<!-- cc auto width img for small devices -->
					<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-4.jpg);"></div>

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-5.jpg" class="cc-item gs-carousel-item lg-trigger" data-exthumbnail="/assets/img/gallery/gallery-single/auto-width/thumb/gallery-auto-width-thumb-5.jpg">

					<!-- cc auto width img -->
					<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-5.jpg" alt="">

					<!-- cc auto width img for small devices -->
					<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-5.jpg);"></div>

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item (video). You can add your "Youtube" or "Vimeo" video link.
				================================= -->
				<a href="https://www.youtube.com/watch?v=ls0ayO5FIro" class="cc-item gs-carousel-item lg-trigger" data-sub-html="<p>Yes, you can use video captions. :)</p>">

					<!-- Video play icon -->
					<div class="video-play-icon"></div>

					<!-- cc auto width img -->
					<img class="cc-image cc-auto-width-img" src="/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-6.jpg" alt="">

					<!-- cc auto width img for small devices -->
					<div class="cc-image cc-auto-width-img-bg bg-image" style="background-image: url(/assets/img/gallery/gallery-single/auto-width/gallery-auto-width-6.jpg);"></div>

					<!-- Gallery single item image caption -->
					<div class="gsi-image-caption">Yes, you can use video captions. :)</div>

				</a>
				<!-- End carousel item -->

			</div>
			<!-- End content carousel -->						

		</div> <!-- /.gs-carousel-wrap -->
	</div> <!-- /.tt-wrap -->
</section>
<!-- End gallery single section -->
