---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ==========================
///// Begin intro section /////
=========================== -->
<section id="tt-intro" class="gallery-list-carousel slideshow-intro">
	<div class="tt-intro-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
		<div class="gl-carousel-wrap no-padding">

			<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
			====================================================================
			* Use class "nav-outside" for outside nav (requires boxed layout).
			* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
			* Use class "nav-bottom-right" for bottom right nav.
			* Use class "nav-rounded" for rounded nav.
			* Use class "nav-light" to enable nav light style.
			* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
			* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
			* Use class "dots-rounded" for rounded dots.
			* Use class "owl-mousewheel" to enable mousewheel support.
			* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
			* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
			* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
			* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
			================================================================
			* Available carousel data attributes:
					data-items="5".......................(items visible on desktop)
					data-tablet-landscape="4"............(items visible on mobiles)
					data-tablet-portrait="3".............(items visible on mobiles)
					data-mobile-landscape="2"............(items visible on tablets)
					data-mobile-portrait="1".............(items visible on tablets)
					data-loop="true".....................(true/false)
					data-margin="10".....................(space between items)
					data-center="true"...................(true/false)
					data-start-position="0"..............(item start position)
					data-animate-in="fadeIn".............(fade-in animation)
					data-animate-out="fadeOut"...........(fade-out animation)
					data-mouse-drag="false"..............(true/false)
					data-touch-drag="false"..............(true/false)
					data-autoheight="true"...............(true/false)
					data-autoplay="true".................(true/false)
					data-autoplay-timeout="5000".........(milliseconds)
					data-autoplay-hover-pause="true".....(true/false)
					data-autoplay-speed="800"............(milliseconds)
					data-drag-end-speed="800"............(milliseconds)
					data-nav="true"......................(true/false)
					data-nav-speed="800".................(milliseconds)
					data-dots="false"....................(true/false)
					data-dots-speed="800"................(milliseconds)
			-->
			<div class="owl-carousel cc-height-full bg-dark" data-items="1" data-mouse-drag="false" data-loop="true" data-nav="true" data-animate-in="fadeIn" data-animate-out="fadeOut">

				<!-- Begin carousel item 
				========================= -->
				<div class="cc-item">

					<!-- Element cover -->
					<span class="cover bg-transparent-4-dark"></span>

					<!-- cc image -->
					<div class="cc-image bg-image" style="background-image: url(/assets/img/intro/intro-6.jpg); background-position: 50% 50%;"></div>

					<!-- Begin intro caption 
					=========================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "intro-caption-xs", "intro-caption-sm", "intro-caption-lg", "intro-caption-xlg", "intro-caption-xxlg".
					-->
					<div class="intro-caption caption-animate intro-caption-xxlg center">
						<h1 class="intro-title">Sepia</h1>
						<h2 class="intro-subtitle">Photography Portfolio Theme</h2>

						<p class="intro-description max-width-650">
							Made for photographers, photo studios, design agencies. <br> 
							Create your own unique and beautiful photography website!
						</p>

						<div class="margin-top-30">
							<a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Buy It Now!</a> 
							<a href="albums-grid.html" class="btn btn-white-bordered margin-top-5">Discover More</a>
						</div>
					</div>
					<!-- End intro caption -->

				</div>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<div class="cc-item">

					<!-- Element cover -->
					<span class="cover bg-transparent-4-dark"></span>

					<!-- cc image -->
					<div class="cc-image bg-image" style="background-image: url(/assets/img/intro/intro-7.jpg); background-position: 50% 50%;"></div>

					<!-- Begin intro caption 
					=========================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "intro-caption-xs", "intro-caption-sm", "intro-caption-lg", "intro-caption-xlg", "intro-caption-xxlg".
					-->
					<div class="intro-caption caption-animate intro-caption-xxlg center">
						<h1 class="intro-title">Creative</h1>
						<h2 class="intro-subtitle">Photography Portfolio Theme</h2>

						<p class="intro-description max-width-650">
							Made for photographers, photo studios, design agencies. <br> 
							Create your own unique and beautiful photography website!
						</p>

						<div class="margin-top-30">
							<a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Buy It Now!</a> 
							<a href="albums-grid.html" class="btn btn-white-bordered margin-top-5">Discover More</a>
						</div>
					</div>
					<!-- End intro caption -->

				</div>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<div class="cc-item">

					<!-- Element cover -->
					<span class="cover bg-transparent-4-dark"></span>

					<!-- cc image -->
					<div class="cc-image bg-image" style="background-image: url(/assets/img/intro/intro-8.jpg); background-position: 50% 50%;"></div>

					<!-- Begin intro caption 
					=========================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "intro-caption-xs", "intro-caption-sm", "intro-caption-lg", "intro-caption-xlg", "intro-caption-xxlg".
					-->
					<div class="intro-caption caption-animate intro-caption-xxlg center">
						<h1 class="intro-title">Powerful</h1>
						<h2 class="intro-subtitle">Photography Portfolio Theme</h2>

						<p class="intro-description max-width-650">
							Made for photographers, photo studios, design agencies. <br> 
							Create your own unique and beautiful photography website!
						</p>

						<div class="margin-top-30">
							<a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Buy It Now!</a> 
							<a href="albums-grid.html" class="btn btn-white-bordered margin-top-5">Discover More</a>
						</div>
					</div>
					<!-- End intro caption -->

				</div>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<div class="cc-item">

					<!-- Element cover -->
					<span class="cover bg-transparent-4-dark"></span>

					<!-- cc image -->
					<div class="cc-image bg-image" style="background-image: url(/assets/img/intro/intro-9.jpg); background-position: 50% 50%;"></div>

					<!-- Begin intro caption 
					=========================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "intro-caption-xs", "intro-caption-sm", "intro-caption-lg", "intro-caption-xlg", "intro-caption-xxlg".
					-->
					<div class="intro-caption caption-animate intro-caption-xxlg center">
						<h1 class="intro-title">Perfect</h1>
						<h2 class="intro-subtitle">Photography Portfolio Theme</h2>

						<p class="intro-description max-width-650">
							Made for photographers, photo studios, design agencies. <br> 
							Create your own unique and beautiful photography website!
						</p>

						<div class="margin-top-30">
							<a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" class="btn btn-primary margin-top-5 margin-right-10" target="_blank">Buy It Now!</a> 
							<a href="albums-grid.html" class="btn btn-white-bordered margin-top-5">Discover More</a>
						</div>
					</div>
					<!-- End intro caption -->

				</div>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<!-- <div class="cc-item">
						
					<a class="owl-video" href="https://vimeo.com/99653121"></a>

					<div class="intro-caption caption-animate intro-caption-xxlg center">
						<h1 class="intro-title">Sepia</h1>
						<h2 class="intro-subtitle text-main">Creative Photo Studio</h2>

						<p class="intro-description max-width-650">
							Made for photographers, photo studios, design agencies. <br> 
							Create your own unique and beautiful photography website!
						</p>

						<div class="margin-top-30">
							<a href="categories-carousel.html" class="btn btn-primary margin-top-5 margin-right-10">View My Work</a>
							<a href="contact.html" class="btn btn-white-bordered margin-top-5">Contact</a>
						</div>
					</div> -->
				<!-- End carousel item --> 

			</div>
			<!-- End content carousel -->

		</div> <!-- /.gl-carousel-wrap -->
	</div> <!-- /.tt-intro-inner -->
</section>
<!-- End intro section -->
</BaseLayout>