---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Scripts from '../components/Scripts.astro';
import Intro from "../components/index/Intro.astro"
import AboutMe from "../components/index/AboutMe.astro"
import GalleryList from "../components/index/GalleryList.astro"
import Prices from "../components/index/Prices.astro"
import Testimonials from "../components/index/Testimonials.astro"
import LatestNews from "../components/index/LatestNews.astro"
import CallToAction from "../components/index/CallToAction.astro"
import Footer from "../components/index/Footer.astro"
---

<Layout title="Welcome to Sander Datema.">
	<Header />
	<!-- *************************************
	*********** Begin body content *********** 
	************************************** -->
	<div id="body-content">

		<Intro />

		<AboutMe />

		<GalleryList />

		<Prices />

		<Testimonials />

		<LatestNews />

		<CallToAction />

		<Footer />

	</div>
	<!-- End body content -->

	<Scripts />
</Layout>
