---
import TTHeading from "./general/TTHeading.astro"
import Link from "./general/Link.astro"
import Signature from "./general/Signature.astro"
---

<!-- =============================
///// Begin about me section /////
============================== -->
<section id="about-me-section" class="about-me-simple">
    <div class="about-me-inner">
        <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

        <!-- ======================
		///// Begin split box /////
		based on: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
		======================= -->
        <div class="split-box about-me">
            <div class="container-fluid">
                <div class="row">
                    <div class="row-lg-height">
                        <!-- Column -->
                        <div
                            class="col-lg-6 col-lg-height split-box-image no-padding bg-image"
                            style="background-image: url(/assets/img/misc/me-3.jpg); background-position: 50% 50%;"
                        >
                            <!-- Split box image height
							============================
							* You can use prepared "padding-height-*" helper classes to set split box image height. Example: "padding-height-85" (useful if "split-box-content" contend/text is very short). Also you can use class "full-height-vh" for full height image. Find out "helper.css" file for more info. Note: class "sbi-height" is required.
							-->
                            <div class="sbi-height full-height-vh"></div>
                        </div>
                        <!-- /.col -->

                        <!-- Column -->
                        <div class="col-lg-6 col-lg-height col-lg-middle no-padding">
                            <!-- Begin split box content 
							============================= 
							* Use class "shifted-left" or "shifted-right" to enable shifted content (do not use for long content).
							-->
                            <div class="split-box-content sb-content-right shifted-left">
                                <TTHeading title="Martin Vegas" subtitle="Artist & Photographer" />

                                <div class="margin-top-30">
                                    <p>
                                        I am an artist and photographer. Sollicitudin diam vitae, amet lacus donec eu, donec vulputate duis nullam nulla,
                                        suscipit nulla orci, ornare maecenas eget gravida. Curae sollicitudin lobortis phasellus. Fusce sapien, metus mi et
                                        libero enim sed lorem.
                                    </p>
                                </div>

                                <Link href="contact-simple.html" css_class="btn btn-primary margin-top-20">Hire Me!</Link>
                                <Link href="categories-carousel.html" css_class="btn btn-dark margin-top-20">View All My Work</Link>

                                <Signature />
                            </div>
                            <!-- End split box content -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row-height -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- End split box -->
    </div>
    <!-- /.about-me-inner -->
</section>
<!-- End about me section -->
