---
import PageHeaderImage from "./AboutMe/PageHeaderImage.astro";
import PageHeaderInner from "./AboutMe/PageHeaderInner.astro";
import PageHeaderSection from "./AboutMe/PageHeaderSection.astro";
import SplitBox2 from "./AboutMe/SplitBox2.astro";
import SplitBox3 from "./AboutMe/SplitBox3.astro";
import TTHeading from "./AboutMe/TTHeading.astro";
---

<PageHeaderSection>
	<PageHeaderImage parallax_style="3" background_image="/assets/img/misc/page-header-bg-4.jpg" />
	<PageHeaderInner />
</PageHeaderSection>


<!-- =============================
///// Begin about me section /////
============================== -->
<section id="about-me-section">
	<div class="about-me-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
			
		<SplitBox2 />

		<SplitBox3 />

	</div> <!-- /.about-me-inner -->
</section>
<!-- End about me section -->


<!-- ================================
///// Begin latest work cection /////
================================= -->
<section id="latest-work-section" class="margin-top-40"> <!-- margin class is optional ) -->

	<TTHeading title="Latest Projects" subtitle="My latest photo projects" wrap padding alignment="center"/>

	<div class="latest-work-inner"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

		<!-- Begin project carousel 
		============================ -->
		<div class="project-carousel">

			<!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
			====================================================================
			* Use class "nav-outside" for outside nav (requires boxed layout).
			* Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
			* Use class "nav-bottom-right" for bottom right nav.
			* Use class "nav-rounded" for rounded nav.
			* Use class "nav-light" to enable nav light style.
			* Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
			* Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
			* Use class "dots-rounded" for rounded dots.
			* Use class "owl-mousewheel" to enable mousewheel support.
			* Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
			* Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
			* Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
			* Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
			================================================================
			* Available carousel data attributes:
					data-items="5".......................(items visible on desktop)
					data-tablet-landscape="4"............(items visible on mobiles)
					data-tablet-portrait="3".............(items visible on mobiles)
					data-mobile-landscape="2"............(items visible on tablets)
					data-mobile-portrait="1".............(items visible on tablets)
					data-loop="true".....................(true/false)
					data-margin="10".....................(space between items)
					data-center="true"...................(true/false)
					data-start-position="0"..............(item start position)
					data-animate-in="fadeIn".............(fade-in animation)
					data-animate-out="fadeOut"...........(fade-out animation)
					data-mouse-drag="false"..............(true/false)
					data-touch-drag="false"..............(true/false)
					data-autoheight="true"...............(true/false)
					data-autoplay="true".................(true/false)
					data-autoplay-timeout="5000".........(milliseconds)
					data-autoplay-hover-pause="true".....(true/false)
					data-autoplay-speed="800"............(milliseconds)
					data-drag-end-speed="800"............(milliseconds)
					data-nav="true"......................(true/false)
					data-nav-speed="800".................(milliseconds)
					data-dots="false"....................(true/false)
					data-dots-speed="800"................(milliseconds)
			-->
			<div class="owl-carousel cc-height-1 cc-hover-dark nav-outside-top" data-items="4" data-margin="0" data-dots="false" data-nav="true" data-nav-speed="800" data-mobile-portrait="1" data-tablet-landscape="3" data-tablet-portrait="2" data-mobile-landscape="1" data-mobile-portrait="1">

				<!-- Begin carousel item 
				========================= -->
				<a href="gallery-single-grid.html" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-7.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Afternoon Photoshoot</h2>
						<div class="cc-category"><span>Outdoor</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="gallery-single-grid.html" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-8.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Black &amp; White</h2>
						<div class="cc-category"><span>Models</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="gallery-single-grid.html" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-9.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400">
						<h2 class="cc-title">One Day Shoot With Ordinary People</h2>
						<div class="cc-category"><span>People</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="gallery-single-grid.html" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-10.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Dancing Is Everything</h2>
						<div class="cc-category"><span>People</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="gallery-single-grid.html" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-11.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Redhead Beauty</h2>
						<div class="cc-category"><span>Nature</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

				<!-- Begin carousel item 
				========================= -->
				<a href="gallery-single-grid.html" class="cc-item">

					<!-- cc image -->
					<div class="cc-image full-cover bg-image" style="background-image: url(/assets/img/gallery/gallery-list/auto-width/gallery-auto-width-12.jpg);"></div>

					<!-- Begin caption 
					===================
					* Position classes: "top-left", "top-center", "top-right", "center-left", "center", "center-right", "bottom-left", "bottom-center", "bottom-right". 
					* Size classes: "cc-caption-xs", "cc-caption-sm", "cc-caption-lg", "cc-caption-xlg", "cc-caption-xxlg".
					-->
					<div class="cc-caption center max-width-400"> <!-- max width class is optional -->
						<h2 class="cc-title">Beautiful People</h2>
						<div class="cc-category"><span>Nature</span></div>
					</div>
					<!-- End caption -->

				</a>
				<!-- End carousel item -->

			</div>
			<!-- End content carousel -->

		</div>
		<!-- End project carousel -->

	</div> <!-- /.latest-work-inner -->
</section>
<!-- End latest work cection -->
