---
import HR from '../components/general/HR.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeaderImage from '../sections/SectionPageHeader/PageHeaderImage.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ========================
///// Begin page header /////
=============================
* Use classes "ph-xs", "ph-sm", "ph-lg" or "ph-xlg" to set page header size.
* Use class "ph-center" or "ph-right" to align page header caption.
-->
<section id="page-header">
	<PageHeaderImage parallax_style="3" background_image="/assets/img/misc/page-header-bg-1.jpg" cover_style="5" cover_type="dark" />

	<!-- Begin page header inner -->
	<div class="page-header-inner tt-wrap">

		<!-- Begin page header caption 
		===============================
		* Use classes "ph-caption-xs", "ph-caption-sm", "ph-caption-lg" or "ph-caption-xlg" to set page header size.
		* Use class "parallax-1" up to "parallax-6" to enable parallax effect.
		* Use class "fade-out-scroll-1" up to "fade-out-scroll-6" to enable fade out effect if page scroll.
		-->
		<div class="page-header-caption ph-caption-lg parallax-5 fade-out-scroll-3">
			<h3 class="page-header-subtitle">Browsing Category:</h3>
			<h1 class="page-header-title">Outdoor</h1>
			<HR size="short" />
		</div>
		<!-- End page header caption -->

	</div> 
	<!-- End page header inner -->

</section>
<!-- End page header -->


<!-- =================================
///// Begin gallery list section /////
================================== -->
<section id="gallery-list-section">
	<div class="isotope-wrap tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
		
		<!-- Begin isotope
		===================
		* Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
		* Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
		-->
		<div class="isotope col-3 gutter-3">

			<!-- Begin isotope items wrap 
			==============================
			* Use class "gli-alter-1", "gli-alter-2", "gli-alter-3", "gli-alter-4" or "gli-alter-5" to change gallery list item style.
			* Use class "gli-dark" or "gli-colored" to enable colored hover overlay (effect only with default hover overlay and "gli-alter-4", "gli-alter-5" classes!).
			* Use class "gli-frame" to enable image frames.
			-->
			<div class="isotope-items-wrap gli-colored">

				<!-- Grid sizer (do not remove!!!) -->
				<div class="grid-sizer"></div>


				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">49</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">The Old Man Dreams</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">85</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">These Wonderful Freckles</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="page-password.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-lock" title="Private Content"><i class="fas fa-lock"></i></span>
							</a>
							<!-- End gallery list item image inner -->
							
							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">7</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="page-password.html">Paris Fashion Week</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">12</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->
							
						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Afternoon Photoshoot</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="page-password.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-lock" title="Private Content"><i class="fas fa-lock"></i></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">96</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="page-password.html">Sit Back and Relax</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">56</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Something In The Water vol.2</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">53</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Autumn Nights</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">71</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Beauty &amp; Fashion</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">68</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">No Colors This Time</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">32</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Monday's Monochromes</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">13</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Something In The Water</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">11</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">Beautiful Bride</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">7</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">My Super Awesome Album</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">23</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">One Day Shoot With Ordinary People</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

				<!-- ===================== 
				/// Begin isotope item ///
				========================== 
				* If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
				-->
				<div class="isotope-item iso-height-1">

					<!-- Begin gallery list item -->
					<div class="gallery-list-item">

						<!-- Begin gallery list item image -->
						<div class="gl-item-image-wrap">

							<!-- Begin gallery list item image inner -->
							<a href="gallery-single-grid.html" class="gl-item-image-inner">
								<div class="gl-item-image bg-image" style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"></div>
								
								<span class="gl-item-image-zoom"></span>
							</a>
							<!-- End gallery list item image inner -->

							<!-- Begin gallery list item meta -->
							<ul class="gli-meta">
								<li>
									<!-- Begin favorite button -->
									<div class="favorite-btn">
										<div class="fav-inner">
											<div class="icon-heart">
												<span class="icon-heart-empty"></span>
												<span class="icon-heart-filled"></span>
											</div>
										</div>
										<div class="fav-count">6</div>
									</div>
									<!-- End favorite button -->
								</li>
							</ul>
							<!-- End gallery list item meta -->

						</div>
						<!-- End gallery list item image -->
						
						<!-- Begin gallery list item info -->
						<div class="gl-item-info">
							<div class="gl-item-caption">
								<h2 class="gl-item-title"><a href="gallery-single-grid.html">The Beauty of Nature</a></h2>
								<span class="gl-item-category"><a href="albums-archive.html">Outdoor</a></span>
							</div>
						</div>
						<!-- End gallery list item info -->

					</div>
					<!-- End gallery list item -->

				</div>
				<!-- End isotope item -->

			</div>
			<!-- End isotope items wrap -->


			<!-- Begin isotope pagination 
			============================== -->
			<div class="isotope-pagination">
				<div class="iso-load-more">
					<a class="btn btn-dark-bordered btn-lg" href="">View More <i class="fas fa-refresh"></i></a>
				</div>
			</div>
			<!-- End isotope pagination -->

		</div>
		<!-- End isotope -->

	</div> <!-- /.isotope-wrap -->
</section>
<!-- End gallery list section -->
</BaseLayout>