---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ==============================
///// Begin blog list section /////
=============================== -->
<section id="blog-list-section" class="blog-list-classic blog-list-simple">
	<div class="blog-list-inner tt-wrap">

		<div class="row no-margin">
		
			<!-- Content column -->
			<div class="col-md-12 no-padding-left no-padding-right">

				<div class="isotope-wrap">
					
					<!-- Begin isotope
					===================
					* Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
					* Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
					-->
					<div class="isotope col-1">

						<!-- Begin isotope items wrap 
						============================== -->
						<div class="isotope-items-wrap no-margin-top">

							<!-- Grid sizer (do not remove!!!) -->
							<div class="grid-sizer"></div>


							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single-simple.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single-simple.html" class="bl-item-title"><h2>5 Reasons You Should Fall In Love With Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>

										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="67">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis. Vivamus tincidunt est sit amet volutpat gravida. Integer a ultrices libero, sed facilisis massa. Proin lacus eros, porttitor ac dignissim vitae, pharetra ut massa sentis.
										</div>

										<a href="blog-single-simple.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 10</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">48</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single-simple.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Equipment</a></div>
										<a href="blog-single-simple.html" class="bl-item-title"><h2>10 Top Choices for Aerial Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">John Young</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="67">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis. Vivamus tincidunt est sit amet volutpat gravida. Integer a ultrices libero, sed facilisis massa. Proin lacus eros, porttitor ac dignissim vitae, pharetra ut massa sentis.
										</div>

										<a href="blog-single-simple.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 66</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">98</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single-simple.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Travel</a></div>
										<a href="blog-single-simple.html" class="bl-item-title"><h2>How to Take Professional Travel Photos</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Anna Vernik</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="67">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis. Vivamus tincidunt est sit amet volutpat gravida. Integer a ultrices libero, sed facilisis massa. Proin lacus eros, porttitor ac dignissim vitae, pharetra ut massa sentis.
										</div>

										<a href="blog-single-simple.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 3</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">54</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single-simple.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single-simple.html" class="bl-item-title"><h2>5 Tips Your Camera Manual Never Told You About Portrait Photography</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Julia Beck</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="67">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis. Vivamus tincidunt est sit amet volutpat gravida. Integer a ultrices libero, sed facilisis massa. Proin lacus eros, porttitor ac dignissim vitae, pharetra ut massa sentis.
										</div>

										<a href="blog-single-simple.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 0</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn active">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">3</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

							<!-- ===================== 
							/// Begin isotope item ///
							====================== -->
							<div class="isotope-item">

								<!-- Begin blog list item -->
								<article class="blog-list-item">
									
									<!-- Blog list item image -->
									<a href="blog-single-simple.html" class="bl-item-image"><img src="/assets/img/blog/list/blog-1.jpg" alt="image"></a>
									
									<!-- Begin blog list item info -->
									<div class="bl-item-info">
										<div class="bl-item-category"><a href="blog-archive.html">Photography</a></div>
										<a href="blog-single-simple.html" class="bl-item-title"><h2>Most Common Wedding Photography Mistakes Every Beginner Will Make</h2></a>
										<div class="bl-item-meta"> 
											<span class="published">May 26, 2017</span>
											<span class="posted-by">- by <a href="#" title="View all posts by Martin Vegas">Martin Vegas</a></span>
										</div>
										
										<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
										<div class="bl-item-desc" data-max-words="67">
											Etiam sollicitudin dolor lorem, non aliquet quam dignissim vel. Nunc at eros non odio vestibulum porttitor egestas ut nisl. Proin in cursus nisi, id feugiat magna. Aliquam nec elit a lorem egestas vehicula vel eu erat. Pellentesque a lacus sed risus cursus venenatis. Vivamus tincidunt est sit amet volutpat gravida. Integer a ultrices libero, sed facilisis massa. Proin lacus eros, porttitor ac dignissim vitae, pharetra ut massa sentis.
										</div>

										<a href="blog-single-simple.html" class="btn btn-primary btn-sm margin-top-30">Read More</a>

										<!-- Begin blog list item attributes -->
										<ul class="bl-item-attr">
											<li>
												<!-- Begin comments count -->
												<a href="blog-single.html#blog-post-comments" class="bl-item-comments-count" title="Read the comments"><i class="far fa-comment"></i> 8</a>
												<!-- End comments count -->
											</li>
											<li>
												<!-- Begin favorite button -->
												<div class="favorite-btn">
													<div class="fav-inner">
														<div class="icon-heart">
															<span class="icon-heart-empty"></span>
															<span class="icon-heart-filled"></span>
														</div>
													</div>
													<div class="fav-count">71</div>
												</div>
												<!-- End favorite button -->
											</li>
										</ul>
										<!-- End blog list item attributes -->

									</div>
									<!-- End blog list item info -->

								</article>
								<!-- End blog list item -->

							</div>
							<!-- End isotope item -->

						</div>
						<!-- End isotope items wrap -->

					</div>
					<!-- End isotope -->

				</div> <!-- /.isotope-wrap -->

				<!-- Begin pagination -->
				<nav class="pagination-wrap">
					<ul class="pagination">
						<li>
							<a href="" aria-label="Previous">
								<span aria-hidden="true">First</span>
							</a>
						</li>
						<li><a href="">Prev</a></li>
						<li class="active"><a href="#0">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li>...</li>
						<li><a href="">6</a></li>
						<li><a href="">7</a></li>
						<li><a href="">8</a></li>
						<li><a href="">Next</a></li>
						<li>
							<a href="" aria-label="Next">
								<span aria-hidden="true">Last</span>
							</a>
						</li>
					</ul>

					<!-- Begin pagination info -->
					<div class="pagination-info">
						<span>Showing page 1 of 8</span>
						<span>Items 1 - 5 of 40</span>
					</div>
					<!-- End pagination info -->
				</nav>
				<!-- End pagination -->

			</div> <!-- /.col (Content column) -->

		</div> <!-- /.row -->

	</div> <!-- /.blog-list-inner -->
</section>
<!-- End blog list section -->
</BaseLayout>