---
import TTHeading from "../components/general/TTHeading.astro"
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>
    <!-- ============================
///// Begin contact section /////
============================= -->
    <section id="contact-section" class="contact-simple">
        <div class="contact-section-inner full-height-vh">
            <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

            <div class="full-cover bg-image" style="background-image: url(/assets/img/misc/contact-bg-2.jpg); background-position: 50% 50%;"></div>

            <!-- Element cover -->
            <div class="cover bg-transparent-1-dark"></div>

            <!-- Begin contact info -->
            <div class="contact-info-wrap">
                <TTHeading title="Get In Touch" />

                <div class="contact-info margin-top-40">
                    <p><i class="fas fa-home"></i> address: 121 King Street, Melbourne, Australia</p>
                    <p><i class="fas fa-phone"></i> phone: +123 456 789 000</p>
                    <p><i class="fas fa-envelope"></i> email: <a href="mailto:company@email.com" target="_blank">company@email.com</a></p>
                </div>

                <!-- Begin social buttons -->
                <div class="social-buttons margin-top-20">
                    <ul>
                        <li>
                            <a
                                href="https://www.facebook.com/themetorium"
                                class="btn btn-social-min btn-default btn-rounded-full"
                                title="Follow me on Facebook"
                                target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a
                                href="https://twitter.com/Themetorium"
                                class="btn btn-social-min btn-default btn-rounded-full"
                                title="Follow me on Twitter"
                                target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a
                                href="https://plus.google.com/+SiiliOnu"
                                class="btn btn-social-min btn-default btn-rounded-full"
                                title="Follow me on Google+"
                                target="_blank"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li>
                            <a
                                href="https://www.pinterest.com/themetorium"
                                class="btn btn-social-min btn-default btn-rounded-full"
                                title="Follow me on Pinterest"
                                target="_blank"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                            <a
                                href="https://dribbble.com/Themetorium"
                                class="btn btn-social-min btn-default btn-rounded-full"
                                title="Follow me on Dribbble"
                                target="_blank"><i class="fab fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- End social buttons -->
            </div>
            <!-- End contact info -->
        </div>
        <!-- /.contact-section-inner -->
    </section>
    <!-- End contact section -->
</BaseLayout>
