---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageHeaderImage from '../sections/SectionPageHeader/PageHeaderImage.astro';

const title = "Welcome to Sander Datema"
---
<BaseLayout title={title}>

<!-- ========================
///// Begin page header /////
=============================
* Use classes "ph-xs", "ph-sm", "ph-lg" or "ph-xlg" to set page header size.
* Use class "ph-center" or "ph-right" to align page header caption.
-->
<section id="page-header">
	<PageHeaderImage parallax_style="3" background_image="/assets/img/misc/page-header-bg-1.jpg" cover_style="5" cover_type="dark" />

	<!-- Begin page header inner -->
	<div class="page-header-inner tt-wrap">

		<!-- Begin page header caption 
		===============================
		* Use classes "ph-caption-xs", "ph-caption-sm", "ph-caption-lg" or "ph-caption-xlg" to set page header size.
		* Use class "parallax-1" up to "parallax-6" to enable parallax effect.
		* Use class "fade-out-scroll-1" up to "fade-out-scroll-6" to enable fade out effect if page scroll.
		-->
		<div class="page-header-caption ph-caption-lg parallax-4 fade-out-scroll-3">
			<h1 class="page-header-title">Footer Styles</h1>
			<HR size="short" />
			<div class="page-header-description">
				<p>Fusce imperdiet, arcu non tempor aliquam, justo tortor cursus est, sed facilisis eros purus et felis. Sed eros sapien, iaculis eget gravida euismod, dapibus vitae turpis. Pellentesque men egestas odio mi, vitae egestas massa elementum.</p>
			</div>

		</div>
		<!-- End page header caption -->

	</div> 
	<!-- End page header inner -->

</section>
<!-- End page header -->


<div class="tt-wrap margin-top-80">
	<h2>Footer Minimal - Dark:</h2>
	<HR size="short" />
</div>

<!-- ============================================
///// Begin footer section (footer minimal) /////
=================================================
* Use class "footer-dark" to enable dark footer.
* Use class "no-margin-top" if needed. 
-->
<section id="footer" class="footer-minimal footer-dark">
	<div class="footer-inner">
		<div class="footer-container tt-wrap">
			<div class="row">
				<div class="col-md-6 col-md-push-6">

					<!-- Begin social buttons -->
					<div class="social-buttons">
						<ul>
							<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-link" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="contact.html" class="btn btn-social-min btn-default btn-link" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
						</ul>
					</div>
					<!-- End social buttons -->

				</div> <!-- /.col -->

				<div class="col-md-6 col-md-pull-6">

					<!-- Begin footer copyright -->
					<div class="footer-copyright">
						<p>&copy; Sepia 2017 / All rights reserved</p>
						<p>Design by: <a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" target="_blank">Themetorium</a></p>
					</div>
					<!-- End footer copyright -->

				</div> <!-- /.col -->
			</div> <!-- /.row -->
		</div> <!-- /.footer-container -->
	</div> <!-- /.footer-inner -->

	<!-- Scroll to top button -->
	<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

</section>
<!-- End footer section -->

<div class="tt-wrap margin-top-80">
	<h2>Footer Minimal - Light:</h2>
	<HR size="short" />
</div>

<!-- ============================================
///// Begin footer section (footer minimal) /////
=================================================
* Use class "footer-dark" to enable dark footer.
* Use class "no-margin-top" if needed. 
-->
<section id="footer" class="footer-minimal">
	<div class="footer-inner">
		<div class="footer-container tt-wrap">
			<div class="row">
				<div class="col-md-6 col-md-push-6">

					<!-- Begin social buttons -->
					<div class="social-buttons">
						<ul>
							<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-link" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-link" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="contact.html" class="btn btn-social-min btn-default btn-link" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
						</ul>
					</div>
					<!-- End social buttons -->

				</div> <!-- /.col -->

				<div class="col-md-6 col-md-pull-6">

					<!-- Begin footer copyright -->
					<div class="footer-copyright">
						<p>&copy; Sepia 2017 / All rights reserved</p>
						<p>Design by: <a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" target="_blank">Themetorium</a></p>
					</div>
					<!-- End footer copyright -->

				</div> <!-- /.col -->
			</div> <!-- /.row -->
		</div> <!-- /.footer-container -->
	</div> <!-- /.footer-inner -->

	<!-- Scroll to top button -->
	<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

</section>
<!-- End footer section -->


<div class="tt-wrap margin-top-80">
	<h2>Footer Simple - Dark:</h2>
	<HR size="short" />
</div>

<!-- ===========================================
///// Begin footer section (footer simple) /////
================================================
* Use class "footer-dark" to enable dark footer.
* Use class "no-margin-top" if needed. 
-->
<section id="footer" class="footer-simple footer-dark">
	<div class="footer-inner tt-wrap">

		<!-- Begin footer logo -->
		<div id="footer-logo">
			<a href="index.html" class="logo-dark"><img src="/assets/img/logo-dark.png" alt="logo"></a>
			<a href="index.html" class="logo-light"><img src="/assets/img/logo-light.png" alt="logo"></a>

			<!-- for small screens -->
			<a href="index.html" class="logo-dark-m"><img src="/assets/img/logo-dark-m.png" alt="logo"></a>
			<a href="index.html" class="logo-light-m"><img src="/assets/img/logo-light-m.png" alt="logo"></a>
		</div>
		<!-- End footer logo -->
		
		<!-- Begin footer menu -->
		<ul class="footer-menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">FAQ</a></li>
			<li><a href="">Portfolio</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		<!-- End footer menu -->

		<!-- Begin social buttons -->
					<div class="social-buttons">
						<ul>
							<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
						</ul>
					</div>
					<!-- End social buttons -->

		<!-- Begin footer copyright -->
		<div class="footer-copyright">
			<p>&copy; Sepia 2017 / All rights reserved</p>
			<p>Design by: <a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" target="_blank">Themetorium</a></p>
		</div>
		<!-- End footer copyright -->

	</div> <!-- /.footer-inner -->

	<!-- Scroll to top button -->
	<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

</section>
<!-- End footer section -->


<div class="tt-wrap margin-top-80">
	<h2>Footer Simple - Light:</h2>
	<HR size="short" />
</div>

<!-- ===========================================
///// Begin footer section (footer simple) /////
================================================
* Use class "footer-dark" to enable dark footer.
* Use class "no-margin-top" if needed. 
-->
<section id="footer" class="footer-simple">
	<div class="footer-inner tt-wrap">

		<!-- Begin footer logo -->
		<div id="footer-logo">
			<a href="index.html" class="logo-dark"><img src="/assets/img/logo-dark.png" alt="logo"></a>
			<a href="index.html" class="logo-light"><img src="/assets/img/logo-light.png" alt="logo"></a>

			<!-- for small screens -->
			<a href="index.html" class="logo-dark-m"><img src="/assets/img/logo-dark-m.png" alt="logo"></a>
			<a href="index.html" class="logo-light-m"><img src="/assets/img/logo-light-m.png" alt="logo"></a>
		</div>
		<!-- End footer logo -->
		
		<!-- Begin footer menu -->
		<ul class="footer-menu">
			<li><a href="index.html">Home</a></li>
			<li><a href="">About Us</a></li>
			<li><a href="">FAQ</a></li>
			<li><a href="">Portfolio</a></li>
			<li><a href="">Blog</a></li>
			<li><a href="">Contact</a></li>
		</ul>
		<!-- End footer menu -->

		<!-- Begin social buttons -->
					<div class="social-buttons">
						<ul>
							<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
						</ul>
					</div>
					<!-- End social buttons -->

		<!-- Begin footer copyright -->
		<div class="footer-copyright">
			<p>&copy; Sepia 2017 / All rights reserved</p>
			<p>Design by: <a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" target="_blank">Themetorium</a></p>
		</div>
		<!-- End footer copyright -->

	</div> <!-- /.footer-inner -->

	<!-- Scroll to top button -->
	<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

</section>
<!-- End footer section -->


<div class="tt-wrap margin-top-80">
	<h2>Footer - Dark:</h2>
	<HR size="short" />
</div>

<!-- ===========================
///// Begin footer section /////
================================
* Use class "footer-dark" to enable dark footer.
* Use class "no-margin-top" if needed. 
-->
<section id="footer" class="footer-dark">
	<div class="footer-inner">
		<div class="footer-container tt-wrap">
			<div class="row">
				<div class="col-md-3">

					<!-- Begin footer logo -->
					<div id="footer-logo">
						<a href="index.html" class="logo-dark"><img src="/assets/img/logo-dark.png" alt="logo"></a>
						<a href="index.html" class="logo-light"><img src="/assets/img/logo-light.png" alt="logo"></a>

						<!-- for small screens -->
						<a href="index.html" class="logo-dark-m"><img src="/assets/img/logo-dark-m.png" alt="logo"></a>
						<a href="index.html" class="logo-light-m"><img src="/assets/img/logo-light-m.png" alt="logo"></a>
					</div>
					<!-- End footer logo -->

				</div> <!-- /.col -->

				<div class="col-md-5">

					<!-- Begin footer text -->
					<div class="footer-text">
						<h4>- Information</h4>
						Sed non auctor magna. Nunc eu ultrices orci. Donec commodo ligula in massa ultricies volutpat. Fusce vel cursus lectus. Cras commodo odio mi, eu cursus nibh iaculis ut.
					</div>
					<!-- End footer text -->

				</div> <!-- /.col -->

				<div class="col-md-4">

					<!-- Begin social buttons -->
					<div class="social-buttons">
						<ul>
							<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
						</ul>
					</div>
					<!-- End social buttons -->

					<!-- Begin footer subscribe form -->
					<form id="footer-subscribe-form" class="form-btn-inside">
						<div class="form-group">
							<input type="email" class="form-control no-bg" id="footer-subscribe" name="subscribe" placeholder="Subscribe. Enter your email address..." required="">
							<button type="submit"><i class="fas fa-envelope"></i></button>
						</div>
					</form>
					<!-- End footer subscribe form -->

				</div> <!-- /.col -->

			</div> <!-- /.row -->
		</div> <!-- /.footer-container -->

		<div class="footer-bottom">
			<div class="footer-container tt-wrap">
				<div class="row">
					<div class="col-md-6 col-md-push-6">

						<!-- Begin footer menu -->
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="about-me.html">About</a></li>
							<li><a href="albums-grid-fluid-2.html">Portfolio</a></li>
							<li><a href="blog-list-grid.html">Blog</a></li>
							<li><a href="page-faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<!-- End footer menu -->

					</div> <!-- /.col -->

					<div class="col-md-6 col-md-pull-6">

						<!-- Begin footer copyright -->
						<div class="footer-copyright">
							<p>&copy; Sepia 2017 / All rights reserved</p>
							<p>Design by: <a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" target="_blank">Themetorium</a></p>
						</div>
						<!-- End footer copyright -->

					</div> <!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.footer-container -->
		</div> <!-- /.footer-bottom -->

	</div> <!-- /.footer-inner -->

	<!-- Scroll to top button -->
	<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

</section>
<!-- End footer section -->


<div class="tt-wrap margin-top-80">
	<h2>Footer - Light:</h2>
	<HR size="short" />
</div>

<!-- ===========================
///// Begin footer section /////
================================
* Use class "footer-dark" to enable dark footer.
* Use class "no-margin-top" if needed. 
-->
<section id="footer">
	<div class="footer-inner">
		<div class="footer-container tt-wrap">
			<div class="row">
				<div class="col-md-3">

					<!-- Begin footer logo -->
					<div id="footer-logo">
						<a href="index.html" class="logo-dark"><img src="/assets/img/logo-dark.png" alt="logo"></a>
						<a href="index.html" class="logo-light"><img src="/assets/img/logo-light.png" alt="logo"></a>

						<!-- for small screens -->
						<a href="index.html" class="logo-dark-m"><img src="/assets/img/logo-dark-m.png" alt="logo"></a>
						<a href="index.html" class="logo-light-m"><img src="/assets/img/logo-light-m.png" alt="logo"></a>
					</div>
					<!-- End footer logo -->

				</div> <!-- /.col -->

				<div class="col-md-5">

					<!-- Begin footer text -->
					<div class="footer-text">
						<h4>- Creative Photo Studio</h4>
						Sed non auctor magna. Nunc eu ultrices orci. Donec commodo ligula in massa ultricies volutpat. Fusce vel cursus lectus. Cras commodo odio mi, eu cursus nibh iaculis ut.
					</div>
					<!-- End footer text -->

				</div> <!-- /.col -->

				<div class="col-md-4">

					<!-- Begin social buttons -->
					<div class="social-buttons">
						<ul>
							<li><a href="https://www.facebook.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://twitter.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+SiiliOnu" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Google+" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="https://www.pinterest.com/themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="https://dribbble.com/Themetorium" class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Dribbble" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full" title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
						</ul>
					</div>
					<!-- End social buttons -->

					<!-- Begin footer subscribe form -->
					<form id="footer-subscribe-form" class="form-btn-inside">
						<div class="form-group">
							<input type="email" class="form-control no-bg" id="footer-subscribe" name="subscribe" placeholder="Subscribe. Enter your email address..." required="">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</div>
					</form>
					<!-- End footer subscribe form -->

				</div> <!-- /.col -->

			</div> <!-- /.row -->
		</div> <!-- /.footer-container -->

		<div class="footer-bottom">
			<div class="footer-container tt-wrap">
				<div class="row">
					<div class="col-md-6 col-md-push-6">

						<!-- Begin footer menu -->
						<ul class="footer-menu">
							<li><a href="index.html">Home</a></li>
							<li><a href="about-me.html">About</a></li>
							<li><a href="albums-grid-fluid-2.html">Portfolio</a></li>
							<li><a href="blog-list-grid.html">Blog</a></li>
							<li><a href="page-faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
						<!-- End footer menu -->

					</div> <!-- /.col -->

					<div class="col-md-6 col-md-pull-6">

						<!-- Begin footer copyright -->
						<div class="footer-copyright">
							<p>&copy; Sepia 2017 / All rights reserved</p>
							<p>Design by: <a href="https://themeforest.net/item/sepia-photography-portfolio-html-website-template/20195226?ref=Themetorium" target="_blank">Themetorium</a></p>
						</div>
						<!-- End footer copyright -->

					</div> <!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.footer-container -->
		</div> <!-- /.footer-bottom -->

	</div> <!-- /.footer-inner -->

	<!-- Scroll to top button -->
	<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

</section>
<!-- End footer section -->
</BaseLayout>