---
import BaseLayout from "../layouts/BaseLayout.astro"

const title = "Welcome to Sander Datema"
---

<BaseLayout title={title}>
    <!-- =======================================
///// Begin password protected section /////
======================================== -->
    <section id="password-protected-section">
        <div class="password-protected-inner bg-image" style="background-image: url(/assets/img/misc/misc-5.jpg); background-position: 50% 50%;">
            <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

            <!-- Element cover -->
            <span class="cover bg-transparent-4-dark"></span>

            <!-- Begin post password 
		========================= -->
            <div class="tt-post-password full-height-vh">
                <div class="tt-post-password-inner">
                    <div class="tt-post-password-icon"><i class="fas fa-lock"></i></div>
                    <div class="tt-post-password-text">To continue please enter your password!</div>
                    <form id="tt-post-password-form" class="form-btn-inside" action="gallery-single-grid.html" method="post">
                        <div class="form-group">
                            <input
                                type="password"
                                class="form-control"
                                id="post-pass"
                                name="post_password"
                                placeholder="Enter Password..."
                                required=""
                                minlength="4"
                            />
                            <button type="submit">Access</button>
                        </div>
                    </form>
                </div>
                <!-- /.post-password -->
            </div>
            <!-- End post password -->
        </div>
        <!-- /.about-me-inner -->
    </section>
    <!-- End password protected section -->
</BaseLayout>
