---
import SplitBoxContent from "../components/AboutMe2/SectionAboutMe/SplitBoxContent.astro";
---

<!-- =============================
///// Begin about me section /////
============================== -->
<section id="about-me-section" class="about-me-simple">
	<div class="about-me-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
			
		<!-- ======================
		///// Begin split box /////
		based on: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
		======================= -->
		<div class="split-box about-me">
			<div class="container-fluid">
				<div class="row">
					<div class="row-lg-height">

						<!-- Column -->
						<div class="col-lg-6 col-lg-height split-box-image no-padding bg-image" style="background-image: url(/assets/img/misc/me-3.jpg); background-position: 50% 50%;">

							<!-- Split box image height
							============================
							* You can use prepared "padding-height-*" helper classes to set split box image height. Example: "padding-height-85" (useful if "split-box-content" contend/text is very short). Also you can use class "full-height-vh" for full height image. Find out "helper.css" file for more info. Note: class "sbi-height" is required.
							-->
							<div class="sbi-height padding-height-100"></div>

						</div> <!-- /.col -->

						<!-- Column -->
						<div class="col-lg-6 col-lg-height col-lg-middle no-padding">

							<SplitBoxContent />

						</div> <!-- /.col -->

					</div> <!-- /.row-height -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div>
		<!-- End split box -->

	</div> <!-- /.about-me-inner -->
</section>
<!-- End about me section -->
