<!-- =================================
///// Begin gallery list section /////
================================== -->
<section id="gallery-list-section">
    <slot />
</section>
<!-- End gallery list section -->
