<!-- Begin logo 
================ -->
<div id="logo">
    <a href="index.html" class="logo-dark"><img src="/assets/img/logo-dark.png" alt="logo" /></a>
    <a href="index.html" class="logo-light"><img src="/assets/img/logo-light.png" alt="logo" /></a>

    <!-- for small screens -->
    <a href="index.html" class="logo-dark-m"><img src="/assets/img/logo-dark-m.png" alt="logo" /></a>
    <a href="index.html" class="logo-light-m"><img src="/assets/img/logo-light-m.png" alt="logo" /></a>
</div>
<!-- End logo -->
