---
const { max_words, max_characters } = Astro.props
---

<!-- Use data attributes to set text maximum characters or words (example: data-max-characters="120" or data-max-words="40") -->
<div class="page-header-description" data-max-words={max_words} data-max-characters={max_characters}>
    <slot />
</div>
