---
import Link from "../general/Link.astro"
import TTHeading from "../general/TTHeading.astro"
---

<!-- =================================
///// Begin gallery list section /////
================================== -->
<section id="gallery-list-section">
    <TTHeading title="Latest Works" subtitle='My latest photo projects / <Link href="categories-grid.html">View All</Link>' wrap />

    <div class="isotope-wrap">
        <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

        <!-- Begin isotope
        ===================
        * Use class "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
        * Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
        -->
        <div class="isotope col-4">
            <!-- Begin isotope items wrap 
            ==============================
            * Use class "gli-alter-1", "gli-alter-2", "gli-alter-3", "gli-alter-4" or "gli-alter-5" to change gallery list item style.
            * Use class "gli-dark" or "gli-colored" to enable colored hover overlay (effect only with default hover overlay and "gli-alter-4", "gli-alter-5" classes!).
            * Use class "gli-frame" to enable image frames.
            -->
            <div class="isotope-items-wrap gli-colored gli-alter-4">
                <!-- Grid sizer (do not remove!!!) -->
                <div class="grid-sizer"></div>

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">49</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">The Old Man Dreams</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Outdoor</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">85</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">These Wonderful Freckles</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Black &amp; White</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">7</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Paris Fashion Week</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Fashion</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">12</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Afternoon Photoshoot</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Outdoor</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">96</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Sit Back and Relax</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Portraits</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">56</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Something In The Water vol.2</Link></h2>
                                <span class="gl-item-category"
                                    ><Link href="albums-archive.html">Fashion</Link>, <Link href="albums-archive.html">Outdoor</Link></span
                                >
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">53</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Autumn Nights</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Outdoor</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">71</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Beauty &amp; Fashion</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Fashion</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">68</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">No Colors This Time</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Black &amp; White</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">32</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Monday's Monochromes</Link></h2>
                                <span class="gl-item-category"><Link href="albums-archive.html">Outdoor</Link></span>
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">13</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Something In The Water</Link></h2>
                                <span class="gl-item-category"
                                    ><Link href="albums-archive.html">Fashion</Link>, <Link href="albums-archive.html">Portraits</Link></span
                                >
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->

                <!-- ===================== 
                /// Begin isotope item ///
                ========================== 
                * If you use background image on isotope-item child element, then you need to use class "iso-height-1" or "iso-height-2" to set the item height. If you use simple image tag, then don't use height classes.
                -->
                <div class="isotope-item iso-height-1">
                    <!-- Begin gallery list item -->
                    <div class="gallery-list-item">
                        <!-- Begin gallery list item image -->
                        <div class="gl-item-image-wrap">
                            <!-- Begin gallery list item image inner -->
                            <Link href="gallery-single-grid.html" css_class="gl-item-image-inner">
                                <div
                                    class="gl-item-image bg-image"
                                    style="background-image: url(/assets/img/gallery/gallery-list/gallery-list-1.jpg); background-position: 50% 50%"
                                >
                                </div>

                                <span class="gl-item-image-zoom"></span>
                            </Link>
                            <!-- End gallery list item image inner -->

                            <!-- Begin gallery list item meta -->
                            <ul class="gli-meta">
                                <!-- <li>
                                    <div class="img-count" title="Image count"><i class="fas fa-camera"></i> 32</div>
                                </li> -->
                                <li>
                                    <!-- Begin favorite button -->
                                    <div class="favorite-btn">
                                        <div class="fav-inner">
                                            <div class="icon-heart">
                                                <span class="icon-heart-empty"></span>
                                                <span class="icon-heart-filled"></span>
                                            </div>
                                        </div>
                                        <div class="fav-count">11</div>
                                    </div>
                                    <!-- End favorite button -->
                                </li>
                            </ul>
                            <!-- End gallery list item meta -->
                        </div>
                        <!-- End gallery list item image -->

                        <!-- Begin gallery list item info -->
                        <div class="gl-item-info">
                            <div class="gl-item-caption">
                                <h2 class="gl-item-title"><Link href="gallery-single-grid.html">Beautiful Bride</Link></h2>
                                <span class="gl-item-category"
                                    ><Link href="albums-archive.html">Outdoor</Link>, <Link href="albums-archive.html">Fashion</Link></span
                                >
                            </div>
                        </div>
                        <!-- End gallery list item info -->
                    </div>
                    <!-- End gallery list item -->
                </div>
                <!-- End isotope item -->
            </div>
            <!-- End isotope items wrap -->

            <!-- Begin isotope pagination 
            ============================== -->
            <!-- <div class="isotope-pagination">
                <div class="iso-load-more">
                    <Link class="btn btn-dark-bordered btn-lg" href="">View More <i class="fas fa-refresh"></i></Link>
                </div>
            </div> -->
            <!-- End isotope pagination -->
        </div>
        <!-- End isotope -->
    </div>
    <!-- /.isotope-wrap -->
</section>
<!-- End gallery list section -->
