---
import TTHeading from "../general/TTHeading.astro";

---

<!-- =================================
///// Begin testimonials section /////
================================== -->
<section id="testimonials-section" class="bg-dark bg-image-fixed" style="background-image: url(/assets/img/misc/misc-4.jpg); background-position: 50% 50%;">

    <!-- Element cover -->
    <span class="cover bg-transparent-7-dark"></span>

    <div class="testimonials-section-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

        <!-- Begin testimonials carousel
        =================================
        * Use class "tm-hide-image" to hide testimonial image.
        * Use class "tm-center" or "tm-right" to align testimonials.
        -->
        <div class="testimonials-carousel tm-center">

            <!-- <TTHeading title="Testimonials" subtitle="What customers say" wrap size="lg" alignment="center" /> -->

            <!-- Begin content carousel (https://owlcarousel2.github.io/OwlCarousel2/)
            ====================================================================
            * Use class "nav-outside" for outside nav (requires boxed layout).
            * Use class "nav-outside-top" for outside top nav (requires enough space at the top of the carousel).
            * Use class "nav-bottom-right" for bottom right nav.
            * Use class "nav-rounded" for rounded nav.
            * Use class "nav-light" to enable nav light style.
            * Use class "dots-outside" for outside dots (requires enough space at the bottom of the carousel).
            * Use class "dots-left", "dots-right" or "dots-center-right" to align dots.
            * Use class "dots-rounded" for rounded dots.
            * Use class "owl-mousewheel" to enable mousewheel support.
            * Use class "cursor-grab" to enable cursor grab icon (no effect on links!).
            * Use class "cc-hover-light", "cc-hover-dark" or "cc-hover-zoom" to enable carousel items hover effect.
            * Use class "cc-height-1", "cc-height-2", "cc-height-3", "cc-height-4", "cc-height-5", "cc-height-6" or "cc-height-full" to set carousel height (do not use with data-autoheight="true"!!!).
            * Use class "cc-height-m" to set full height for small screens (do not use with data-autoheight="true"!!!).
            ================================================================
            * Available carousel data attributes:
                    data-items="5".......................(items visible on desktop)
                    data-tablet-landscape="4"............(items visible on mobiles)
                    data-tablet-portrait="3".............(items visible on mobiles)
                    data-mobile-landscape="2"............(items visible on tablets)
                    data-mobile-portrait="1".............(items visible on tablets)
                    data-loop="true".....................(true/false)
                    data-margin="10".....................(space between items)
                    data-center="true"...................(true/false)
                    data-start-position="0"..............(item start position)
                    data-animate-in="fadeIn".............(fade-in animation)
                    data-animate-out="fadeOut"...........(fade-out animation)
                    data-mouse-drag="false"..............(true/false)
                    data-touch-drag="false"..............(true/false)
                    data-autoheight="true"...............(true/false)
                    data-autoplay="true".................(true/false)
                    data-autoplay-timeout="5000".........(milliseconds)
                    data-autoplay-hover-pause="true".....(true/false)
                    data-autoplay-speed="800"............(milliseconds)
                    data-drag-end-speed="800"............(milliseconds)
                    data-nav="true"......................(true/false)
                    data-nav-speed="800".................(milliseconds)
                    data-dots="false"....................(true/false)
                    data-dots-speed="800"................(milliseconds)
            -->
            <div class="owl-carousel cursor-grab nav-outside dots-outside" data-items="1" data-loop="true" data-autoheight="true" data-nav="true" data-nav-speed="500" data-dots-speed="500" data-autoplay="true" data-autoplay-timeout="8000" data-autoplay-speed="500" data-autoplay-hover-pause="true">

                <!-- Begin carousel item 
                ========================= -->
                <div class="cc-item">

                    <!-- Begin testimonial item -->
                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-2.jpg); background-position: 50% 50%;"></div>
                        <blockquote>
                            <p>"Duis vel ligula non neque varius eleifend quis id elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse lacus dui, pellentesque ut porta et, consequat sit amet."</p>
                            <small>Anna Clarkson</small>
                        </blockquote>
                    </div>
                    <!-- End testimonial item -->

                </div>
                <!-- End carousel item -->

                <!-- Begin carousel item 
                ========================= -->
                <div class="cc-item">

                    <!-- Begin testimonial item -->
                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-3.jpg); background-position: 50% 50%;"></div>
                        <blockquote>
                            <p>"Maecenas sit amet diam iaculis, lobortis tortor sed, bibendum quam. Nam mauris odio, sodales interdum facilisis in, dignissim et massa. In suscipit quam nisi."</p>
                            <small>John Smith</small>
                        </blockquote>
                    </div>
                    <!-- End testimonial item -->

                </div>
                <!-- End carousel item -->

                <!-- Begin carousel item 
                ========================= -->
                <div class="cc-item">

                    <!-- Begin testimonial item -->
                    <div class="testimonial-item text-white">
                        <div class="tm-image bg-image" style="background-image: url(/assets/img/blog/small/avatar/avatar-4.jpg); background-position: 50% 50%;"></div>
                        <blockquote>
                            <p>"Proin at tincidunt leo. Morbi ut metus sit amet purus molestie sollicitudin. Maecenas convallis est vitae neque feugiat, in accumsan odio vestibulum. Pellentesque sodales fermentum porttitor."</p>
                            <small>Jack Paterson</small>
                        </blockquote>
                    </div>
                    <!-- End testimonial item -->

                </div>
                <!-- End carousel item -->

            </div>
            <!-- End content carousel -->

        </div> 
        <!-- End testimonials carousel -->

    </div> <!-- /.tt-intro-inner -->
</section>
<!-- End testimonials section -->
