---
import Head from "./Head.astro"
import Header from "./Header.astro"
import Footer from "./Footer.astro"
import Scripts from "./Scripts.astro"

const { title } = Astro.props
---

<!DOCTYPE html>
<!--
   Template:   Sepia - Photography Portfolio HTML Website Template
   Author:     Themetorium
   URL:        https://themetorium.net  
-->
<html lang="en">
    <Head title={title} />
    <body id="body" class="animsition tt-boxed">
        <!-- *************************************
		*********** Begin body content *********** 
		************************************** -->
        <div id="body-content">
            <Header />

            <slot />

            <Footer />
        </div>
        <Scripts />
    </body>
</html>
