---
const { title } = Astro.props
---
<head>
    <!-- Title -->
    <title>{title}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive Photography HTML5 Website Template">
    <meta name="keywords" content="HTML5, CSS3, Bootsrtrap, Responsive, Photography, Portfolio, Template, Theme, Website, Themetorium" />
    <meta name="author" content="themetorium.net">
    <meta name="generator" content={Astro.generator} />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon (http://www.favicon-generator.org/) -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <!-- Google fonts (https://www.google.com/fonts) -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> <!-- Global font -->

    <!-- Bootstrap CSS (http://getbootstrap.com) -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css"> <!-- bootstrap CSS (http://getbootstrap.com) -->

    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="/assets/vendor/animsition/css/animsition.min.css"> <!-- Animsition CSS (http://git.blivesta.com/animsition/) -->
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/fontawesome-all.min.css"> <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
    <link rel="stylesheet" href="/assets/vendor/lightgallery/css/lightgallery.min.css"> <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.carousel.min.css"> <!-- Owl Carousel CSS (https://owlcarousel2.github.io/OwlCarousel2/) -->
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.theme.default.min.css"> <!-- Owl Carousel CSS (https://owlcarousel2.github.io/OwlCarousel2/) -->
    <link rel="stylesheet" href="/assets/vendor/ytplayer/css/jquery.mb.YTPlayer.min.css"> <!-- YTPlayer CSS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->

    <!-- Template master CSS -->
    <link rel="stylesheet" href="/assets/css/helper.css">
    <link rel="stylesheet" href="/assets/css/theme.css">

    <!-- Template dark style CSS (just uncomment line below to enable dark style) -->
        <link rel="stylesheet" href="/assets/css/dark-style.css">

    <!-- Template round style CSS (just uncomment line below to enable round style) -->
        <link rel="stylesheet" href="/assets/css/round-style.css">

    <!-- Template color skins CSS (just uncomment line below to enable color skin. One line at a time!) -->
        <!-- <link rel="stylesheet" href="/assets/css/color-skins/skin-red.css"> -->
        <!-- <link rel="stylesheet" href="/assets/css/color-skins/skin-green.css"> -->
        <!-- <link rel="stylesheet" href="/assets/css/color-skins/skin-blue.css"> -->
        <link rel="stylesheet" href="/assets/css/color-skins/skin-orange.css">
        <!-- <link rel="stylesheet" href="/assets/css/color-skins/skin-purple.css"> -->
        <!-- <link rel="stylesheet" href="/assets/css/color-skins/skin-pink.css"> -->
        <!-- <link rel="stylesheet" href="/assets/css/color-skins/skin-brown.css"> -->

</head>