---
import Logo from "./Header/Logo.astro"
import Navigation from "./Header/Navigation.astro"
---

<!-- =================
//// Begin header //// 
======================
* Use class "header-show-hide-on-scroll" to hide header on scroll down and show on scroll up.
* Use class "header-fixed-top" to set header to fixed position.
* Use class "header-transparent" to set header to transparent.
* Use class "menu-align-left" to align menu to left.
* Use class "menu-align-right" to align menu to right.
* Use class "menu-align-center" to align menu to center (do not use with header classes!).
-->
<header id="header" class="header-show-hide-on-scroll menu-align-right">
    <!-- Begin header inner -->
    <div class="header-inner tt-wrap">
        <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

        <Logo />

        <Navigation />
    </div>
    <!-- End header inner -->
</header>
<!-- End header -->
