---
import ElementCover from "../general/ElementCover.astro"

const { parallax_style, background_image } = Astro.props
---

<!-- Begin page header image 
============================= 
* Use class "parallax-bg-1" up to "parallax-bg-6" to enable background image parallax effect.
* Use class "fade-out-scroll-3" to enable fade out effect if page scroll.
* Use class "hide-ph-image" to hide page header image without removing the code.
-->
<div class={`page-header-image bg-image parallax-bg-${parallax_style}`} style={`background-image: url(${background_image});`}>
    <ElementCover css_class="bg-transparent-5-dark" />
</div>
<!-- End page header image -->
