---
import PageHeaderCaption from "./PageHeaderInner/PageHeaderCaption.astro";
---
<!-- Begin page header inner -->
<div class="page-header-inner tt-wrap">
    <PageHeaderCaption parallax_style="3" fade_out_style="4" caption_size="lg" />
</div> 
<!-- End page header inner -->
