---
import SplitBox2 from "./SplitBox2.astro";

---

<!-- =============================
///// Begin about me section /////
============================== -->
<section id="about-me-section">
	<div class="about-me-inner tt-wrap"> <!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->
			
		<SplitBox2 />

		<SplitBox2 />

	</div> <!-- /.about-me-inner -->
</section>
<!-- End about me section -->
