<!-- Begin tt-heading 
====================== 
* Use class "padding-on" to enable heading paddings (useful if you use tt-heading as stand alone element).
* Use class "text-center" or "text-right" to align tt-heading.
* Use classes "tt-heading-xs", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set tt-heading size.
-->
<div class="tt-heading">
    <div class="tt-heading-inner">
        <h1 class="tt-heading-title">Who I am?</h1>
        <div class="tt-heading-subtitle">A little bit about me</div>
        <hr class="hr-short">
    </div> <!-- /.tt-heading-inner -->
</div>
<!-- End tt-heading -->